<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:stately="http://xmlns.jcp.org/jsf/composite/stately"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Service Authorisation
            </ui:define>

            <ui:define name="pageTitle">
                Drivers' Services Authorisation
            </ui:define>

            <ui:define name="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Invoice Query</h4>
                            </div>
                            <div class="panel-body">
                                <h:form>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-inline"> 
                                                <div class="form-group">
                                                    <input class="form-control input-sm" type="text" jsf:value="#{driveServiceAuthorisationController.invoiceNumber}"
                                                           jsf:id="invoiceNo"  id="exampleInputEmail1" placeholder="Enter Invoice No."/>
                                                </div>
                                                <div class="form-group">
                                                    <h:commandLink class="btn btn-inverse btn-sm" action="#{driveServiceAuthorisationController.searchSerivceInvoice()}">
                                                        <span class="fa fa-search"></span> Search
                                                    </h:commandLink>
                                                </div>
                                            </div><br/>

                                            <f:subview id="serviceAutho" rendered="#{driveServiceAuthorisationController.transactions!=null}">

                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                        <h4 class="m-t-10 text-ellipsis">Applicant Information</h4><br/>

                                                        <div class="form-group">
                                                            <label >Name</label>
                                                            <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                          value="#{driveServiceAuthorisationController.transactions.applicantId.applicantName}"/>
                                                        </div>
                                                        <div class="form-group margin-top-minus-10">
                                                            <label >Gender</label>
                                                            <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true"
                                                                          value="#{driveServiceAuthorisationController.transactions.applicantId.gender.initial}"/>
                                                        </div>
                                                        <div class="form-group margin-top-minus-10">
                                                            <label >Mobile</label>
                                                            <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                          value="#{driveServiceAuthorisationController.transactions.applicantId.telephone}"/>
                                                        </div>
                                                        <div class="form-group margin-top-minus-10">
                                                            <label >Date Of Birth</label>
                                                            <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                          value="#{driveServiceAuthorisationController.transactions.applicantId.dateOfBirth}">
                                                                <f:convertDateTime pattern="#{msg.date_pattern}"/>
                                                            </h:inputText>
                                                        </div>
                                                        <div class="form-group margin-top-minus-10">
                                                            <label >Email Address</label>
                                                            <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                          value="#{driveServiceAuthorisationController.transactions.applicantId.emailAddress}"/>
                                                        </div>
                                                        <div class="form-group margin-top-minus-10">
                                                            <label >Address</label>
                                                            <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                          value="#{driveServiceAuthorisationController.transactions.applicantId.residential}"/>
                                                        </div>
                                                        <div class="form-group margin-top-minus-10">
                                                            <label >Country</label>
                                                            <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                          value="#{driveServiceAuthorisationController.transactions.country}"/>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                        <h4 class="m-t-10 text-ellipsis">Applied Service</h4><br/>

                                                        <f:subview id="upgrade" rendered="#{driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'UPG'}">
                                                            <ui:include src="../../includes/driverServicesAuthorisation/authorise-upgrade.xhtml"/>
                                                        </f:subview>

                                                        <f:subview id="conversion" rendered="#{driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'CFL'}">
                                                            <ui:include src="../../includes/driverServicesAuthorisation/authorise-conversion.xhtml"/>
                                                        </f:subview>

                                                        <f:subview id="intelPermit" rendered="#{driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'IDP'}">
                                                            <ui:include src="../../includes/driverServicesAuthorisation/authorise-intel-permit.xhtml"/>
                                                        </f:subview>

                                                        <f:subview id="proficiency" rendered="#{driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'PROFI'}">
                                                            <ui:include src="../../includes/driverServicesAuthorisation/authorise-proficiency-test.xhtml"/>
                                                        </f:subview>

                                                        <f:subview id="learners" rendered="#{driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'NDL1'}">
                                                            <ui:include src="../../includes/driverServicesAuthorisation/authorise-learners-permit.xhtml"/>
                                                        </f:subview>

                                                        <f:subview id="renewal" rendered="#{driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'REN1'}">
                                                            <ui:include src="../../includes/driverServicesAuthorisation/authorise-renewal.xhtml"/>
                                                        </f:subview>

                                                        <f:subview id="full-license" rendered="#{driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'WORKIN'}">
                                                            <ui:include src="../../includes/driverServicesAuthorisation/authorise-learners-permit.xhtml"/>
                                                        </f:subview>

                                                        <f:subview id="replacement"
                                                                   rendered="#{driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'ROL' or
                                                                               driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'ROL2' or 
                                                                               driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'ROL4' or 
                                                                               driveServiceAuthorisationController.transactions.serviceCode.serviceCode eq 'ROL5' }" 
                                                                   >
                                                            <ui:include src="../../includes/driverServicesAuthorisation/authorise-replacement.xhtml"/>
                                                        </f:subview>

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <h4 class="m-t-10">Applied Service Test Results</h4>
                                                        <div class="row">
                                                            <br/>
                                                            <div class="col-xs-12">
                                                                <strong>#{driveServiceAuthorisationController.transactions.serviceCode.serviceName}</strong>
                                                                <p:dataTable value="#{driveServiceAuthorisationController.listOfServiceTest}" var="test">
                                                                    <p:column headerText="Requirement">
                                                                        <h:outputLabel value="#{test.serviceActivity.activity.activityName}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Requirement Type">
                                                                        <h:outputLabel value="#{test.serviceActivity.activity.activityType.title}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Requirement Result" width="100">
                                                                        <h:outputLabel value="#{test.activityStatus}"/>
                                                                    </p:column>
                                                                </p:dataTable>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"></div>
                                                            <div class="col-xs-3">
                                                                <h:commandLink class="btn btn-sm btn-inverse btn-block margin-top-plus-20" action="#{driveServiceAuthorisationController.decline()}" immediate="true">
                                                                    <i class="fa fa-times"></i>
                                                                    Decline
                                                                </h:commandLink>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h:commandLink class="btn btn-sm btn-inverse btn-block margin-top-plus-20" action="#{driveServiceAuthorisationController.approve()}">
                                                                    <i class="fa fa-check"></i>
                                                                    Approve 
                                                                </h:commandLink>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </f:subview>

                                        </div>
                                    </div><br/>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
