<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Service Authorisation
            </ui:define>

            <ui:define name="pageTitle">
                Drivers' Services Authorisation
            </ui:define>

            <ui:define name="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Invoice Query</h4>
                            </div>
                            <div class="panel-body">
                                <h:form>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-inline"> 
                                                <div class="form-group">
                                                    <input class="form-control input-sm" type="email" jsf:id="invoiceNo"  id="exampleInputEmail1" placeholder="Enter Invoice No."/>
                                                </div>
                                                <div class="form-group">
                                                    <h:commandLink class="btn btn-inverse btn-sm">
                                                        <span class="fa fa-search"></span> Search
                                                    </h:commandLink>
                                                </div>
                                            </div><br/>
                                            <h4 class="m-t-10">Applied Service Test Results</h4><br/>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="numberOfShares">Service Applied</label>
                                                        <h:inputText  class="form-control f-s-15 f-w-700"  disabled="true" value="#{accountSubscriptionController.accountSubscription.numberOfShares}"/>
                                                    </div>
                                                    <div class="form-group margin-top-minus-10">
                                                        <label for="numberOfShares">Eye Test</label>
                                                        <h:inputText  class="form-control f-s-15 f-w-700" disabled="true" value="Passed"/>
                                                    </div>
                                                    <div class="form-group margin-top-minus-10">
                                                        <label for="numberOfShares">Theory Test</label>
                                                        <h:inputText  class="form-control f-s-15 f-w-700" disabled="true" value="Failed"/>
                                                    </div>
                                                    <div class="form-group margin-top-minus-10">
                                                        <label for="numberOfShares">Road Signs Test</label>
                                                        <h:inputText  class="form-control f-s-15 f-w-700" disabled="true" value="Passed"/>
                                                    </div>
                                                    <div class="form-group margin-top-minus-10">
                                                        <label for="numberOfShares">In-traffic Test</label>
                                                        <h:inputText  class="form-control f-s-15 f-w-700" disabled="true" value="Passed"/>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h:commandLink class="btn btn-sm btn-inverse m-r-5" action="#{accountSubscriptionController.purchaseShares()}"
                                                                           immediate="true">
                                                                <i class="fa fa-times"></i>
                                                                Decline
                                                            </h:commandLink>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <h:commandLink class="btn btn-sm btn-inverse m-r-5" action="#{accountSubscriptionController.sharesPayments()}">
                                                                <i class="fa fa-check"></i>
                                                                Approve 
                                                            </h:commandLink>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><br/>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
