<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../appTemplate.xhtml">

            <ui:define name="menuName">
                Service Authorization
            </ui:define>

            <ui:define name="pageTitle">
               De-faced License Replacement
            </ui:define>

           <ui:define name="content">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Invoice Query</h4>
                            </div>
                            <div class="panel-body">
                                <h:form>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4 class="m-t-10 text-center text-capitalize text-info">Service Test Results</h4><br/>
                                            <div class="form-inline col-md-offset-4"> 
                                                <div class="form-group">
                                                    <input class="form-control input-sm" type="text" jsf:id="invoiceNo"  id="invoiceNo" placeholder="Enter Invoice No." value="#{testResultsController.invoiceNumber}"/>
                                                </div>
                                                <div class="form-group">
                                                    <h:commandLink class="btn btn-inverse btn-sm" action="#{testResultsController.checkForInvoice()}">
                                                        <span class="fa fa-search"></span> Search
                                                    </h:commandLink>
                                                </div>
                                            </div><br/>

                                            <ul>
                                            </ul>

                                            <p:panel rendered="#{testResultsController.exist}">
                                                <div class="row">
                                                    <ui:repeat value="#{testResultsController.activities}" var="activity" rendered="#{testResultsController.exist}">                                  
                                                        <div class="form-group margin-top-minus-10">
                                                            <label for="numberOfShares" class="control-label col-md-8">#{activity.activity.activityName} :</label>
                                                            <h:inputText  class="form-control col-md-4" disabled="true" value="#{activity.status}"/>
                                                        </div>
                                                    </ui:repeat>
                                                    <div class="row">
                                                        <div class="col-md-offset-4">
                                                            <div class="col-sm-3" style="top: 7px;">
                                                                <h:commandLink class="btn btn-sm btn-inverse m-r-5 pull-left" immediate="true">
                                                                    <i class="fa fa-times"></i>
                                                                    Decline
                                                                </h:commandLink>
                                                            </div>
                                                            <div class="col-sm-3" style="top: 5px;">
                                                                <h:commandLink class="btn btn-sm btn-inverse m-r-5 pull-right" >
                                                                    <i class="fa fa-check"></i>
                                                                    Approve 
                                                                </h:commandLink>
                                                            </div>
                                                        </div>

                                                    </div>
                                                   
                                                </div>                            
                                            </p:panel>


                                        </div>
                                    </div><br/>
                                </h:form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
