<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../appTemplate.xhtml">

            <ui:define name="menuName">
                Service Test/Requirements Update
            </ui:define>

            <ui:define name="pageTitle">
               License Replacement - (Change of Details)
            </ui:define>

             <ui:define name="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Invoice Query</h4>
                                </div>
                                <div class="panel-body">
                                    <h4 class="m-t-10 text-center text-capitalize text-info">Service Tests/Requirements</h4><br/>
                                    <h:form>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-inline"> 
                                                    <div class="form-inline col-md-offset-4"> 
                                                        <div class="form-group">
                                                            <input class="form-control input-sm" type="text" jsf:id="invoiceNo"  id="invoiceNo" placeholder="Enter Invoice No." value="#{testResultsController.invoiceNumber}"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <h:commandLink class="btn btn-inverse btn-sm" action="#{testResultsController.checkForInvoice()}">
                                                                <span class="fa fa-search"></span> Search
                                                            </h:commandLink>
                                                        </div>
                                                    </div><br/>
                                                </div>
                                                <div class="row">
                                                    <div class="center-block">

                                                        <ui:repeat value="#{testResultsController.activities}" var="activity" rendered="#{testResultsController.exist}">
                                                            <div class="form-group margin-top-minus-10">
                                                                <label class="col-md-8">#{activity.activity.activityName}: </label>
                                                                <div class="col-md-4">
                                                                    <form class="form-horizontal">
                                                                        <h:selectOneRadio value="#{activity.status}" label="#{activity.activity.activityName}">
                                                                            <span class="col-md-2">
                                                                                <f:selectItem  itemValue="Failed" itemLabel="FAIL:" />
                                                                            </span>
                                                                            <span class="col-md-2">
                                                                                <f:selectItem  itemValue="Passed"  itemLabel="PASS: "/>
                                                                            </span>

                                                                        </h:selectOneRadio>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </ui:repeat>
                                                        
                                                        <div class="row">
                                                            <div class="col-md-offset-4 col-md-8">
                                                                <h:commandLink class="btn btn-sm btn-primary m-r-5 center-block" action="#{testResultsController.saveResultsDetails()}"
                                                                               immediate="true" rendered="#{testResultsController.exist}">
                                                                    <i class="fa fa-check-square-o"></i>
                                                                    Update
                                                                </h:commandLink>
                                                            </div>                                                        
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div><br/>
                                    </h:form>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-2"></div>                        
                    </div>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
