<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../../../template.xhtml">
        <ui:define name="menuName" >
            #{msg.masters} 
        </ui:define>
        <ui:define name="pageName" >
            License Request
        </ui:define>
        <ui:define name="body" >
            
            <f:verbatim>
             <applet code="com.ernest.genesys.DemoApplet.class" archive="MyApplet.jar" width="600" height="480"/>
            </f:verbatim>
            <div class="row">

                <div class="col-sm-4">
                    <h:form>
                        <div class="box-info">
                            <h2>Search Information</h2>
                            <div class="row">
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="surname">#{msg.surname}<span class="red"> * </span><h:message class="required" for="surname"/></label>
                                        <h:inputText id="surname" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.surname}"/>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </h:form>
                </div>
                <div class="col-sm-8">
                    <h:form >
                        <div class="box-info">
                            <h2>Selected Information</h2>
                            <div class="row">
                                <div class="col-sm-8"> 
                                    <div class="row">
                                        <div class="col-sm-6 ">
                                            <div class="form-group">
                                                <label for="surname">#{msg.surname}<span class="red"> * </span><h:message class="required" for="surname"/></label>
                                                <h:inputText id="surname" class="form-control input-sm"  
                                                             required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.surname}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div class="form-group">
                                                <label for="othername">#{msg.surname}<span class="red"> * </span><h:message class="required" for="othername"/></label>
                                                <h:inputText id="othername" class="form-control input-sm"  
                                                             required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.surname}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-sm-4">

                                </div>

                            </div>
                        </div>
                    </h:form>
                    <h:form >
                         <div class="box-info">
                            <h2>Selected Information</h2>
                            <div class="row">
                                
                            </div>
                         </div>
                    </h:form>
                </div>

            </div>
        </ui:define>
    </ui:composition>
</html>