<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../../../template.xhtml">
        <ui:define name="menuName" >
            #{msg.masters} 
        </ui:define>
        <ui:define name="pageName" >
            DVLA Centers
        </ui:define>
        <ui:define name="body" >
            
            <div class="row">
                <h:form>
                    <div class="col-sm-5">

                        <div class="box-info">
                            <h2>Personal Information</h2>
                            <div class="row">
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="surname">#{msg.surname}<span class="red"> * </span><h:message class="required" for="surname"/></label>
                                        <h:inputText id="surname" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.surname}"/>
                                    </div>
                                </div> 
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="othername">#{msg.othername}<span class="red"> * </span><h:message class="required" for="othrname"/></label>
                                        <h:inputText id="othername" class="form-control input-sm"  
                                                     required="false" requiredMessage="required" value="#{applicantRegistration.applicantInformation.othername}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="firstname">#{msg.firstname}<span class="red"> * </span><h:message class="required" for="firstname"/></label>
                                        <h:inputText id="firstname" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.firstName}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="dateOfBirth">#{msg.date_of_birth}<span class="red"> * </span><h:message class="required" for="dateOfBirth"/></label>
                                        <p:calendar id="dateOfBirth" pattern="#{msg.date_pattern}" placeholder="dd/MM/yyyy" 
                                                    required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.dateOfBirth}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="gender">#{msg.gender}<span class="red"> * </span><h:message class="required" for="gender"/></label>
                                        <h:selectOneMenu id="gender" class="form-control input-sm"  
                                                         required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.gender}">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.gendersList()}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="telephone">#{msg.telephone}<span class="red"> * </span><h:message class="required" for="telephone"/></label>
                                        <h:inputText id="telephone" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.telephone}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="emailAddress">#{msg.email_address}<span class="red"> * </span><h:message class="required" for="emailAddress"/></label>
                                        <h:inputText id="emailAddress" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.emailAddress}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="residential">#{msg.residential_address}<span class="red"> * </span><h:message class="required" for="residential"/></label>
                                        <h:inputText id="residential" class="form-control input-sm" required="true" requiredMessage="required" value="#{applicantRegistration.applicantInformation.residential}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="nationality">#{msg.nationality}<span class="red"> * </span><h:message class="required" for="nationality"/></label>
                                        <h:selectOneMenu id="nationality" class="form-control input-sm"  
                                                         required="false" requiredMessage="required">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.countryList()}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h:commandLink class="btn btn-success" action="#{applicantRegistration.saveApplicantInformation()}">
                                            <span class="fa fa-save"></span>
                                            #{msg.save}
                                        </h:commandLink>
                                    </div>
                                    <div class="col-sm-6">
                                        <h:commandLink class="btn btn-success" action="#{applicantRegistration.clear()}" immediate="true">
                                            <span class="fa fa-times"></span>
                                            #{msg.cancel}
                                        </h:commandLink>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box-info">
                                    <h2>Picture</h2>
                                    <img src="" class="img img-frame img-thumbnail"  style="height: 180px; width: 100%"/>
                                    <div class="footer">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p:commandLink class="btn btn-success" onclick="PF('dlg3').show();" >
                                                    <span class="fa fa-camera"></span>
                                                    Take Picture
                                                </p:commandLink>
                                            </div>
                                            <div class="col-sm-6">
                                                <h:commandLink class="btn btn-success" action="#{dvlaCenterController.clear()}">
                                                    <span class="fa fa-refresh"></span>
                                                    Refresh
                                                </h:commandLink>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box-info">
                                    <h2>Signature</h2>
                                    <img src="" class="img img-frame img-thumbnail"  style="height: 180px; width: 100%"/>
                                    <div class="footer">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h:commandLink class="btn btn-success" action="#{dvlaCenterController.clear()}">
                                                    <span class="fa fa-pencil"></span>
                                                    Take Signature
                                                </h:commandLink>
                                            </div>
                                            <div class="col-sm-6">
                                                <h:commandLink class="btn btn-success" action="#{dvlaCenterController.clear()}">
                                                    <span class="fa fa-refresh"></span>
                                                    Refresh
                                                </h:commandLink>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box-info">
                                    <h2>Left Print</h2>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="" class="img img-frame img-thumbnail"  style="height: 180px; width: 100%"/>
                                            <div class="footer">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h:commandLink class="btn btn-success" action="#{applicantRegistration.leftFingerPrint()}" immediate="true">
                                                            <span class="fa fa-hand-o-left"></span>
                                                            Left Print
                                                        </h:commandLink>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <h:commandLink class="btn btn-success" action="#{dvlaCenterController.clear()}">
                                                            <span class="fa fa-refresh"></span>
                                                            Refresh
                                                        </h:commandLink>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="" class="img img-frame img-thumbnail"  style="height: 180px; width: 100%"/>
                                            <div class="footer">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h:commandLink class="btn btn-success" action="#{applicantRegistration.leftFingerPrint()}">
                                                            <span class="fa fa-hand-o-left"></span>
                                                            Left Print
                                                        </h:commandLink>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <h:commandLink class="btn btn-success" action="#{dvlaCenterController.clear()}">
                                                            <span class="fa fa-refresh"></span>
                                                            Refresh
                                                        </h:commandLink>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box-info">
                                    <h2>Right Print</h2>
                                    <img src="" class="img img-frame img-thumbnail"  style="height: 180px; width: 100%"/>
                                    <div class="footer">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h:commandLink class="btn btn-success" action="#{dvlaCenterController.clear()}">
                                                    <span class="fa fa-hand-o-right"></span>
                                                    Right Print
                                                </h:commandLink>
                                            </div>
                                            <div class="col-sm-6">
                                                <h:commandLink class="btn btn-success" action="#{dvlaCenterController.clear()}">
                                                    <span class="fa fa-refresh"></span>
                                                    Refresh
                                                </h:commandLink>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:form>
            </div>

            <div class="clear"/>
            <h:form>
                <p:panelGrid columns="6">
                    <h:inputText class="form-control"/>
                    <h:selectOneMenu class="form-control">
                        <f:selectItem itemLabel="#{msg.select_one}"/>
                    </h:selectOneMenu>
                    <h:commandLink class="btn btn-success" action="#{dvlaCenterController.clear()}">
                        <span class="fa fa-search"></span>
                        Search
                    </h:commandLink>
                </p:panelGrid>
            </h:form>
            <h:form>
                <p:dataTable reflow="true" value="#{applicantRegistration.applicantInformationsList}" var="app" rows="10" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
                    <p:column headerText="#{msg.surname}">
                        <h:outputLabel value="#{app.surname}"/>
                    </p:column>
                    <p:column headerText="#{msg.othername}">
                        <h:outputLabel value="#{app.othername}"/>
                    </p:column>
                    <p:column headerText="#{msg.firstname}">
                        <h:outputLabel value="#{app.firstName}"/>
                    </p:column>
                    <p:column headerText="#{msg.date_of_birth}">
                        <h:outputLabel value="#{app.dateOfBirth}">
                            <f:convertDateTime pattern="#{msg.date_pattern}"/>
                        </h:outputLabel>
                    </p:column>
                    <p:column headerText="#{msg.telephone}">
                        <h:outputLabel value="#{app.telephone}"/>
                    </p:column>
                    <p:column headerText="#{msg.gender}">
                        <h:outputLabel value="#{app.gender}"/>
                    </p:column>
                    <p:column headerText="#{msg.email_address}">
                        <h:outputLabel value="#{app.emailAddress}"/>
                    </p:column>
                    <p:column headerText="#{msg.select}">
                        <h:commandLink class="blue" action="#{applicantRegistration.selectApplicant(app)}" >
                            <span class="fa fa-check"></span>
                            #{msg.select}
                        </h:commandLink>
                    </p:column>
                    <p:column headerText="#{msg.delete}">
                        <h:commandLink class="red" action="#{applicantRegistration.deleteApplicant(app)}">
                            <span class="fa fa-remove"></span>
                            #{msg.delete}
                        </h:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>
            <p:dialog header="Basic Dialog" widgetVar="dlg2" minHeight="40" modal="true">
                <h:form>        
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:photoCam widgetVar="pc"  />
                        <p:commandButton type="button" value="Capture" onclick="PF('pc').capture()"/>
                        <p:outputPanel id="photo">
                            <p:graphicImage />
                        </p:outputPanel>
                    </h:panelGrid>
                </h:form>
            </p:dialog>
            <p:dialog header="Basic Dialog" widgetVar="dlg3" minHeight="40" modal="true">
                <h:form>        
                 <applet code="com.ernest.genesys.DemoApplet.class" archive="MyApplet.jar" width="600" height="480"/>
                </h:form>
            </p:dialog>
        </ui:define>
    </ui:composition>
</html>