<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../../../registration_form_template.xhtml">
        <ui:define name="menuName" >
            #{msg.masters} 
        </ui:define>
        <ui:define name="pageName" >
            User Registration
            
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <h:form>
                        <div class="panel panel-body">
                            <h2>Personal Information</h2>
                            <div class="row">
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="surname">#{msg.surname}<span class="red"> * </span><h:message class="required" for="surname"/></label>
                                        <h:inputText id="surname" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.surname}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="othername">#{msg.othername}<span class="red"> * </span><h:message class="required" for="othername"/></label>
                                        <h:inputText id="othername" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.othername}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="firstname">#{msg.firstname}<span class="red"> * </span><h:message class="required" for="firstname"/></label>
                                        <h:inputText id="firstname" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.firstName}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="gender">#{msg.gender}<span class="red"> * </span><h:message class="required" for="gender"/></label>
                                        <h:selectOneMenu id="gender" class="form-control input-sm"  
                                                         required="true" requiredMessage="required" value="#{registrationController.applicant.gender}">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.gendersList}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="date_of_birth">#{msg.date_of_birth}<span class="red"> * </span><h:message class="required" for="date_of_birth"/></label>
                                        <p:calendar  pattern="#{msg.date_pattern}" navigator="true" value="#{registrationController.applicant.dateOfBirth}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="place_of_birth">#{msg.place_of_birth}<span class="red"> * </span><h:message class="required" for="place_of_birth"/></label>
                                        <h:inputText id="place_of_birth" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.placeOfBirth}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="region">#{msg.region}<span class="red"> * </span><h:message class="required" for="region"/></label>
                                        <h:selectOneMenu id="region" class="form-control input-sm"  
                                                         required="true" requiredMessage="required" value="#{registrationController.applicant.region}">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.regionList}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="nationality">#{msg.nationality}<span class="red"> * </span><h:message class="required" for="nationality"/></label>
                                        <h:selectOneMenu id="nationality" class="form-control input-sm"  
                                                         required="false" requiredMessage="required" value="#{registrationController.applicant.nationality}">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.countryList}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="residential_address">#{msg.residential_address}<span class="red"> * </span><h:message class="required" for="residential_address"/></label>
                                        <h:inputText id="residential_address" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.residential}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="telephone">#{msg.telephone}<span class="red"> * </span><h:message class="required" for="telephone"/></label>
                                        <h:inputText id="telephone" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.telephone}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="telephone">#{msg.email_address}<span class="red"> * </span><h:message class="required" for="email_address"/></label>
                                        <h:inputText id="email_address" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.emailAddress}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="id_type">#{msg.id_type}<span class="red"> * </span><h:message class="required" for="id_type"/></label>
                                        <h:selectOneMenu id="id_type" class="form-control input-sm"  
                                                         required="true" requiredMessage="required" value="#{registrationController.applicant.idType}">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.idTypeList}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="id_no">#{msg.id_no}<span class="red"> * </span><h:message class="required" for="id_no"/></label>
                                        <h:inputText id="id_no" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.idTypeNo}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="upload_id">#{msg.upload_id}<span class="red"> * </span><h:message class="required" for="upload_id"/></label>
                                        <p:fileUpload class=" input-sm" mode="simple"/>
                                    </div>
                                </div>
                            </div>
                            <h2>Contact Person Information</h2>
                            <div class="row">
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="csurname">#{msg.surname}<span class="red"> * </span><h:message class="required" for="csurname"/></label>
                                        <h:inputText id="csurname" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.contactPersonSurname}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="cothername">#{msg.othername}<span class="red"> * </span><h:message class="required" for="cothername"/></label>
                                        <h:inputText id="cothername" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.contactPersonOthername}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="ctelephone">#{msg.telephone}<span class="red"> * </span><h:message class="required" for="ctelephone"/></label>
                                        <h:inputText id="ctelephone" class="form-control input-sm"  
                                                     required="true" requiredMessage="required" value="#{registrationController.applicant.contactPersonTelephone}"/>
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <label for="relation">#{msg.relation}<span class="red"> * </span><h:message class="required" for="relation"/></label>
                                        <h:selectOneMenu id="relation" class="form-control input-sm"  
                                                         required="true" requiredMessage="required" value="#{registrationController.applicant.relationship}">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.relationshipList}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                            </div>

                        </div> 
                        <div class="panel panel-footer">

                            <div class="row">
                                <div class="col-sm-6">
                                    <h:commandLink class="btn btn-success" action="#{registrationController.saveMethod()}">
                                        <span class="fa fa-save"></span>
                                        #{msg.save}
                                    </h:commandLink>
                                </div>
                                <div class="col-sm-6">
                                    <h:commandLink class="btn btn-warning" action="#{loginController.logoutUser}" immediate="true">
                                        <span class="fa fa-times"></span>
                                        #{msg.cancel}
                                    </h:commandLink>
                                </div>
                            </div>

                        </div>
                    </h:form>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>