
root { 
    display: block;
}

a{
    text-decoration: none;
    color: #666;
    text-decoration: none;
}

#login-page{
    background-image: url('../../resources/images/ghana9.jpg');
    background-size: 100% 900px;
}

.centre-element{
    margin: auto;
}

root { 
    display: block;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bolder;
}


.table-top-align *
{
    vertical-align:  top;
}

table
{
    vertical-align:  top;
}

tfoot *{
    margin: auto;
}

.fill-space
{
    width: 100%;
}

.field-label
{
    font-weight: bold;
    margin-right: 5px;
    margin-left: 2px;
}

.field-label-required
{
    font-weight: bold;
    margin-right: 5px;
    color: maroon;
}

.field-value
{
    /*    font-weight: bold;*/
    display: inline-block;
    display: block;
    min-height: 1em;
    margin: 2px;
    padding: 2px 5px 2px 5px;
    background: #FFF;
    border:solid 1px #CCC;
    /*    width: 100%;*/
}

.align-right
{

    text-align: right;
}


.text-right
{
    text-align: right;
}

.clear
{
    clear: both;
}


.delete
{
    color: red;
}


.ui-datatable-odd{
    /*    background: #eff5fa;*/

}



.home-icon {
    background-image:
        url("../../javax.faces.resource/go-home.png?ln=images");
}

.delete
{
    color: red;
}
.click-select
{
    color: blue;
}


.updated-data
{
    background-color: #ccffcc;
}

.new-data
{
    background-color: #3399ff;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.spaced-table td
{
    padding: 0.2em;
}