<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Applicants
            </ui:define>

            <ui:define name="pageTitle">
                Biometric Data Capturing
            </ui:define>

            <ui:define name="content">
                <h:form id="inputDetails"> 
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Search Applicant</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h:outputLabel value="Search By" for="searchParameter" class="block-display"/>
                                    <h:selectOneMenu class="form-control input-sm" id="searchParameter" value="#{applicantController.pageCommonInputs.searchParameter}" >
                                        <f:selectItem itemLabel="Mobile Number" itemValue="telephone"/>
                                        <f:selectItem itemLabel="Surname" itemValue="surname"/>
                                        <f:selectItem itemLabel="Email Address" itemValue="emailAddress"/>
                                    </h:selectOneMenu>
                                </div>
                                <div class="form-group margin-top-plus-20">
                                    <input jsf:value="#{applicantController.pageCommonInputs.searchValue}" type="text"  placeholder="Enter Search Text"
                                           class="form-control input-sm" />
                                </div>

                                <div class="form-group margin-top-plus-20">
                                    <h:commandLink class="btn btn-inverse btn-sm btn-block" action="#{applicantController.searchMethod()}">
                                        <span class="fa fa-search"></span> Search
                                    </h:commandLink>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-8">
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Applicant Information</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="">Title <span class="text-danger"> *  <h:message for="title"/></span></label>
                                            <h:selectOneMenu class="form-control input-sm" id="title"
                                                             value="#{applicantController.applicant.title}" >
                                                <f:selectItem itemLabel="Select One"/>
                                                <f:selectItems value="#{commonOption.titleList}"/>
                                            </h:selectOneMenu>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="">First Name <span class="text-danger"> *  <h:message for="firstName"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="firstName" value="#{applicantController.applicant.firstName}"
                                                          />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="">Second Name <span class="text-danger"> *  <h:message for="secondName"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="secondName" value="#{applicantController.applicant.othername}"
                                                          />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group  margin-top-minus-10">
                                            <label for="">Last Name <span class="text-danger"> *  <h:message for="lastName"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="lastName" value="#{applicantController.applicant.surname}"
                                                          />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <div class="form-group  margin-top-minus-10">
                                                <label for="gender">Gender<span class="text-danger"> *  <h:message for="gender"/></span></label>
                                                <h:selectOneMenu class="form-control input-sm" id="gender"
                                                                 value="#{applicantController.applicant.gender}" >
                                                    <f:selectItem itemLabel="Select One"/>
                                                    <f:selectItems value="#{commonOption.gendersList}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group margin-top-minus-10">
                                            <label for="">Residential Address<span class="text-danger"> *  <h:message for="secondName"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="residential" value="#{applicantController.applicant.residential}"
                                                          />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group margin-top-minus-10">
                                            <label class="block-display" for="nationality">Country<span class="text-danger"> *  <h:message for="country"/></span></label>
                                            <p:selectOneMenu id="country" converter="omnifaces.SelectItemsConverter" styleClass="width-full"
                                                             filter="true" filterMatchMode="contains"
                                                             value="#{applicantController.applicant.nationality}" >
                                                <f:selectItem itemLabel="Select One"/>
                                                <f:selectItems value="#{commonOption.countryList}"/>
                                            </p:selectOneMenu>
                                        </div> 
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{applicantController.clearMethod()}"
                                                                   immediate="true">
                                                        <span class="fa fa-times"></span>
                                                        Cancel
                                                    </h:commandLink>
                                                </div>
                                                <div class="col-xs-6">
                                                    <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{applicantController.saveMethod()}">
                                                        <span class="fa fa-save"></span>
                                                        Save
                                                    </h:commandLink>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
