<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Applicants
            </ui:define>

            <ui:define name="pageTitle">
                Biometric Data Capturing
            </ui:define>

            <ui:define name="content">
                <h:form id="inputDetails"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Search Applicant</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input jsf:value="#{applicantController.invoiceNumber}" 
                                               type="text"  placeholder="Enter Invoice Number" class="form-control input-sm" />
                                    </div>
                                    <div class="form-group">
                                        <h:commandLink class="btn btn-inverse btn-sm btn-block" action="#{applicantController.searchMethod()}">
                                            <span class="fa fa-search"></span> Search
                                        </h:commandLink>
                                    </div>
                                </div>

                                <f:subview id="applicantBio" rendered="#{applicantController.applicant!=null}">
                                    <h4 class="m-t-10 text-ellipsis">Applicant Biometrics Capturing</h4>
                                    <div class="row">
                                        <div class="col-lg-3 col-xs-12">
                                            <div class="form-group">
                                                <label for="">Name</label>
                                                <h:inputText  class="form-control input-sm" disabled="true"  value="#{applicantController.applicant.applicantName}" />
                                            </div>
                                            <div class="form-group margin-top-minus-10">
                                                <label for="">Gender</label>
                                                <h:inputText  class="form-control input-sm" disabled="true"  value="#{applicantController.applicant.gender.initial}" />
                                            </div>
                                            <div class="form-group margin-top-minus-10">
                                                <label for="">Residential Address</label>
                                                <h:inputText  class="form-control input-sm" disabled="true"  value="#{applicantController.applicant.residential}" />
                                            </div>
                                            <div class="form-group margin-top-minus-10">
                                                <label for="">Country</label>
                                                <h:inputText  class="form-control input-sm" disabled="true"  value="#{applicantController.applicant.nationality.countryName}" />
                                            </div>
                                        </div>
                                    </div>
                                </f:subview>
                            </div>
                        </div>
                    </div>


                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
