<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">
    
    <ui:composition template="../template.xhtml">
        <ui:define name="title" >
            #{msg.dvla}   #{msg.center} 
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <h:form>
                    <div class="col-md-6">

                        <h:panelGrid columns="4" class="table table-responsive">
                            <h:outputLabel value="#{msg.center} #{msg.code}"/>
                            <h:inputText class="form-control" value="#{dvlaCenterController.dvlaCenter.dvalCenterCode}"/>
                            <h:outputLabel value="#{msg.center} #{msg.name}"/>
                            <h:inputText class="form-control" value="#{dvlaCenterController.dvlaCenter.dvalCenterName}"/>
                            <h:outputLabel value="#{msg.region} "/>
                            <h:selectOneMenu class="form-control" value="#{dvlaCenterController.dvlaCenter.region}">
                                <f:selectItem itemLabel="#{msg.select_one}"/>
                                <f:selectItems value="#{commonOption.regionList}"/>
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <dvla:formControl ajax="false" saveButtonAction="#{dvlaCenterController.saveMethod()}" cancelButtonAction="#{dvlaCenterController.clearMethod()}"/>
                    </div>

                </h:form >
            </div>
            <hr/>
            <h:form>
                <p:dataTable value="#{dvlaCenterController.dvlaCentersList}" var="center">
                    <p:column headerText="#{msg.center} #{msg.name}">
                        <h:outputLabel value="#{center.dvalCenterName}"/>
                    </p:column>
                    <p:column headerText="#{msg.center} #{msg.code}">
                        <h:outputLabel value="#{center.dvalCenterCode}"/>
                    </p:column>
                    <p:column headerText="#{msg.region}">
                        <h:outputLabel value="#{center.region}"/>
                    </p:column>
                    <p:column headerText="#{msg.selected}">
                        <p:commandLink value="#{msg.selected}" action="#{dvlaCenterController.selectMethod(center)}" ajax="false" class="active btn-default"/>
                    </p:column>
                    <p:column headerText="#{msg.delete}">
                        <p:commandLink value="#{msg.delete}" action="#{dvlaCenterController.deleteMethod(center)}" ajax="false" class="active btn-danger"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</html>