<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">

    <ui:composition template="./../../../template.xhtml">
        <ui:define name="title" >
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <div class="col-sm-3">
                    <h:form>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    #{msg.dvla}   #{msg.account} #{msg.category}
                                </div>
                            </div>

                            <div class="panel-body">

                                <div class="form-group">
                                    <h:outputLabel value="#{msg.category} #{msg.code}"/>
                                    <h:inputText class="form-control" value="#{accountCategoryController.accountCategory.categoryCode}"/>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.category} #{msg.name}"/>
                                    <h:inputText class="form-control" value="#{accountCategoryController.accountCategory.categoryName}"/>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <dvla:formControl saveButtonAction="#{accountCategoryController.saveMethod()}" cancelButtonAction="#{accountCategoryController.clearMethod()}"/>
                            </div>
                        </div>

                    </h:form>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                               All #{msg.dvla}   #{msg.account} #{msg.category}
                            </div>
                        </div>

                        <div class="panel-body">
                            <h:form>
                                <p:dataTable value="#{accountCategoryController.accountCategorysList}" var="account">
                                    <p:column headerText="#{msg.category} #{msg.code}">
                                        <h:outputLabel value="#{account.categoryCode}"/>
                                    </p:column>
                                    <p:column headerText="#{msg.category} #{msg.name}">
                                        <h:outputLabel value="#{account.categoryCode}"/>
                                    </p:column>


                                    <p:column headerText="#{msg.selected}">
                                        <p:commandLink value="#{msg.selected}" ajax="false" action="#{accountCategoryController.selectMethod(account)}" class="pull-right"/>
                                    </p:column>
                                    <p:column headerText="#{msg.delete}">
                                        <p:commandLink value="#{msg.delete}" ajax="false" action="#{accountCategoryController.deleteMethod(account)}" class="pull-right"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>

                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>