<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">
    
    <ui:composition template="./../../../template.xhtml">
        <ui:define name="title" >
            #{msg.dvla}   #{msg.account} 
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <div class="col-sm-3">
                    <h:form>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    #{msg.dvla}   #{msg.account} 
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.category} "/>
                                    <h:selectOneMenu class="form-control" value="#{dvlaAccountController.dvlaAccount.accountCategory}">
                                        <f:selectItem itemLabel="#{msg.select_one}"/>
                                        <f:selectItems value="#{commonOption.accountCategoryList()}"/>
                                    </h:selectOneMenu>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.account} #{msg.name}"/>
                                    <h:inputText class="form-control" value="#{dvlaAccountController.dvlaAccount.accountName}"/>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.account} #{msg.code}"/>
                                    <h:inputText class="form-control" value="#{dvlaAccountController.dvlaAccount.accountCode}"/>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <dvla:formControl saveButtonAction="#{dvlaAccountController.saveMethod()}" cancelButtonAction="#{dvlaAccountController.clearMethod()}"/>
                            </div>

                        </div>
                    </h:form>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                All   #{msg.dvla}   #{msg.account} 
                            </div>
                        </div>

                        <div class="panel-body">
                            <h:form>
                                <p:dataTable value="#{dvlaAccountController.dvlaAccountsList}" var="account">
                                    <p:column headerText="#{msg.category} #{msg.code}">
                                        <h:outputLabel value="#{account.accountCategory.categoryCode}"/>
                                    </p:column>
                                    <p:column headerText="#{msg.category} #{msg.name}">
                                        <h:outputLabel value="#{account.accountCategory.categoryName}"/>
                                    </p:column>
                                    <p:column headerText="#{msg.account} #{msg.name}">
                                        <h:outputLabel value="#{account.accountName}"/>
                                    </p:column>
                                    <p:column headerText="#{msg.account} #{msg.number}">
                                        <h:outputLabel value="#{account.accountCode}"/>
                                    </p:column>

                                    <p:column headerText="#{msg.selected}">
                                        <p:commandLink value="#{msg.selected}" ajax="false" action="#{dvlaAccountController.selectMethod(account)}" class="pull-right"/>
                                    </p:column>
                                    <p:column headerText="#{msg.delete}">
                                        <p:commandLink value="#{msg.delete}" ajax="false" action="#{dvlaAccountController.deleteMethod(account)}" class="pull-right"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>



        </ui:define>
    </ui:composition>
</html>