<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">
    
    <ui:composition template="../template.xhtml">
        <ui:define name="title" >
            #{msg.vehicle}   #{msg.type} 
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <div class="col-md-6">
                    <h:form>
                        <h:panelGrid columns="4" class="table table-responsive">
                            <h:outputLabel value="#{msg.company} #{msg.name}"/>
                            <h:inputText class="form-control" value="#{insuranceCompanyController.insuranceCompany.insurnaceCompanyName}"/>
                            <h:outputLabel value="#{msg.company} #{msg.telephone}"/>
                            <h:inputText class="form-control" value="#{insuranceCompanyController.insuranceCompany.telephone}"/>
                            <h:outputLabel value="#{msg.company} #{msg.address}"/>
                            <h:inputText class="form-control" value="#{insuranceCompanyController.insuranceCompany.companyAddress}"/>
                            <h:outputLabel value="#{msg.company} #{msg.short} #{msg.name}"/>
                            <h:inputText class="form-control" value="#{insuranceCompanyController.insuranceCompany.companyShortName}"/>

                        </h:panelGrid>
                        <dvla:formControl saveButtonAction="#{insuranceCompanyController.saveMethod()}" cancelButtonAction="#{insuranceCompanyController.clearMethod()}"/>
                    </h:form>
                </div>
            </div>
            <h:form>
                <h:panelGrid columns="5">
                    <h:outputLabel value="Search Value"/>
                    <h:inputText value="#{insuranceCompanyController.searchValue}"/>
                    <h:commandButton value="Search" action="#{insuranceCompanyController.searchMethod()}"/>
                </h:panelGrid>
            </h:form>

            <h:form>
                <p:dataTable value="#{insuranceCompanyController.insuranceCompanysList}" var="company">
                    <p:column headerText="#{msg.company} #{msg.name}">
                        <h:outputLabel value="#{company.insurnaceCompanyName}"/>
                    </p:column>
                    <p:column headerText="#{msg.company} #{msg.telephone}">
                        <h:outputLabel value="#{company.telephone}"/>
                    </p:column>
                    <p:column headerText="#{msg.company} #{msg.address}">
                        <h:outputLabel value="#{company.companyAddress}"/>
                    </p:column>
                    <p:column headerText="#{msg.short} #{msg.name}">
                        <h:outputLabel value="#{company.companyShortName}"/>
                    </p:column>

                    <p:column headerText="#{msg.selected}">
                        <p:commandLink value="#{msg.selected}" ajax="false" action="#{insuranceCompanyController.selectMethod(company)}" class="pull-right"/>
                    </p:column>
                    <p:column headerText="#{msg.delete}">
                        <p:commandLink value="#{msg.delete}" ajax="false" action="#{insuranceCompanyController.deleteMethod(company)}" class="pull-right"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</html>