<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">

    <ui:composition template="./../../../template.xhtml">
        <ui:define name="title" >
            #{msg.service}   #{msg.type} 
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <div class="col-sm-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                #{msg.dvla}   #{msg.center} 
                            </div>
                        </div>
                        <h:form>
                            <div class="panel-body">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h:outputLabel value="#{msg.item} #{msg.code} "/>
                                        <h:inputText class="form-control" value="#{rateItemsController.rateItems.itemCode}"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h:outputLabel value="#{msg.item} #{msg.name}"/>
                                        <h:inputText class="form-control" value="#{rateItemsController.rateItems.itemName}"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h:outputLabel value="#{msg.account} #{msg.type}"/>
                                        <h:selectOneMenu class="form-control" value="#{rateItemsController.rateItems.dvlaAccount}">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.dvlaAccountList()}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h:outputLabel value="#{msg.rate} #{msg.type}"/>
                                        <h:selectOneMenu class="form-control" value="#{rateItemsController.rateItems.rateType}">
                                            <f:selectItem itemLabel="#{msg.select_one}"/>
                                            <f:selectItems value="#{commonOption.rateTypeList}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>




                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h:commandLink class="btn btn-success" action="#{rateItemsController.saveMethod()}">
                                            <span class="fa fa-save"></span>
                                            #{msg.save}
                                        </h:commandLink>
                                    </div>
                                    <div class="col-sm-6">
                                        <h:commandLink class="btn btn-success" action="#{rateItemsController.clearMethod()}">
                                            <span class="fa fa-times"></span>
                                            #{msg.cancel}
                                        </h:commandLink>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h:form>
                        <p:dataTable value="#{rateItemsController.rateItemssList}" var="rate" rows="10" paginator="true">
                            <p:column headerText="#{msg.item} #{msg.code}">
                                <h:outputLabel value="#{rate.itemCode}"/>
                            </p:column>
                            <p:column headerText="#{msg.item} #{msg.name}">
                                <h:outputLabel value="#{rate.itemName}"/>
                            </p:column>
                            <p:column headerText="#{msg.dvla} #{msg.account}">
                                <h:outputLabel value="#{rate.dvlaAccount.accountName}"/>
                            </p:column>
                            <p:column headerText="#{msg.rate} #{msg.type}">
                                <h:outputLabel value="#{rate.rateType.label}"/>
                            </p:column>

                            <p:column headerText="#{msg.selected}">
                                <h:commandLink class="blue" action="#{rateItemsController.selectMethod(rate)}">
                                    <span class="fa fa-check"></span>
                                    Select
                                </h:commandLink>
                            </p:column>
                            <p:column headerText="#{msg.delete}">
                            </p:column>
                        </p:dataTable>
                    </h:form>

                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>