<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">

    <ui:composition template="./../../../template.xhtml">
        <ui:define name="title" >
            #{msg.service}   #{msg.type} 
        </ui:define>
        <ui:define name="body" >

            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            #{msg.dvla}   #{msg.center} 
                        </div>
                    </div>
                    <h:form>
                        <div class="panel-body">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.item}  "/>
                                    <h:selectOneMenu class="form-control" value="#{rateController.rates.rateItems}">
                                        <f:selectItem itemLabel="#{msg.select_one}"/>
                                        <f:selectItems value="#{commonOption.rateItemsList()}"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.service}  "/>
                                    <h:selectOneMenu class="form-control" value="#{rateController.rates.serviceType}">
                                        <f:selectItem itemLabel="#{msg.select_one}"/>
                                        <f:selectItems value="#{commonOption.allServiceTypes}"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.rate}"/>
                                    <h:inputText class="form-control" value="#{rateController.rates.rate}"/>
                                </div>
                            </div>
                          
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h:commandLink class="btn btn-success" action="#{rateController.saveMethod()}">
                                        <span class="fa fa-save"></span>
                                        #{msg.save}
                                    </h:commandLink>
                                </div>
                                <div class="col-sm-6">
                                    <h:commandLink class="btn btn-success" action="#{rateController.clearMethod()}">
                                        <span class="fa fa-times"></span>
                                        #{msg.cancel}
                                    </h:commandLink>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <div class="col-sm-6">
                <h:form>
                    <p:dataTable value="#{rateController.ratessList}" var="rate" rows="10" paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false">
                        <p:column headerText="#{msg.item} #{msg.code}">
                            <h:outputLabel value="#{rate.rateItems.itemCode}"/>
                        </p:column>
                        <p:column headerText="#{msg.item} #{msg.name}">
                            <h:outputLabel value="#{rate.rateItems.itemName}"/>
                        </p:column>
                        <p:column headerText="#{msg.service}">
                            <h:outputLabel value="#{rate.serviceType.label}"/>
                        </p:column>
                        <p:column headerText="#{msg.rate} ">
                            <h:outputLabel value="#{rate.rate}"/>
                        </p:column>

                        <p:column headerText="#{msg.selected}">
                            <h:commandLink class="blue" action="#{rateController.selectMethod(rate)}">
                                    <span class="fa fa-check"></span>
                                    Select
                                </h:commandLink>
                        </p:column>
                        <p:column headerText="#{msg.delete}">
                        </p:column>
                    </p:dataTable>
                </h:form>

            </div>

        </ui:define>
    </ui:composition>
</html>