<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">
    
    <ui:composition template="./../../../template.xhtml">
        <ui:define name="title" >
            #{msg.service}   #{msg.type} 
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <div class="col-md-3">
                    <h:form>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    #{msg.service}   #{msg.type} 
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.service} #{msg.code}"/>
                                    <h:inputText class="form-control" value="#{serviceTypesController.serviceTypes.serviceTypeCode}"/>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.service} #{msg.name}"/>
                                    <h:inputText class="form-control" value="#{serviceTypesController.serviceTypes.serviceTypeName}"/>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.service} #{msg.title}"/>
                                    <h:inputText class="form-control" value="#{serviceTypesController.serviceTypes.serviceTitle}"/>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel value="#{msg.category} "/>
                                    <h:selectOneMenu class="form-control" value="#{serviceTypesController.serviceTypes.serviceCategory}">
                                        <f:selectItem itemLabel="#{msg.select_one}"/>
                                        <f:selectItems value="#{commonOption.serviceCategoryList()}"/>
                                    </h:selectOneMenu>
                                </div>
                                <dvla:formControl saveButtonAction="#{serviceTypesController.saveMethod()}" cancelButtonAction="#{serviceTypesController.clearMethod()}"/>
                            </div>
                        </div>
                    </h:form>
                </div>


                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                #{msg.service}   #{msg.type} 
                            </div>
                        </div>

                        <div class="panel-body">
                            <h:form>
                                <p:dataTable value="#{serviceTypesController.serviceTypessList}" var="service">
                                    <p:column headerText="#{msg.service} #{msg.code}">
                                        <h:outputLabel value="#{service.serviceTypeCode}"/>
                                    </p:column>
                                    <p:column headerText="#{msg.service} #{msg.name}">
                                        <h:outputLabel value="#{service.serviceTypeName}"/>
                                    </p:column>
                                    <p:column headerText="#{msg.category}">
                                        <h:outputLabel value="#{service.serviceCategory.desc}"/>
                                    </p:column>
                                    <p:column headerText="#{msg.selected}">
                                        <p:commandLink value="#{msg.selected}" ajax="false" action="#{serviceTypesController.selectMethod(service)}" class="pull-right"/>
                                    </p:column>
                                    <p:column headerText="#{msg.delete}">
                                        <p:commandLink value="#{msg.delete}" ajax="false" action="#{serviceTypesController.deleteMethod(service)}" class="pull-right"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>