<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">

      <ui:composition template="./../../../template.xhtml">
        <ui:define name="title" >
            #{msg.vehicle}   #{msg.make}/ #{msg.model} 
        </ui:define>
        <ui:define name="body" >
            <p:tabView>
                <p:tab title=" #{msg.vehicle}   #{msg.make}">
                    <div class="row">
                        <div class="col-md-6">
                            <h:form>
                                <h:panelGrid columns="4" class="table table-responsive">
                                    <h:outputLabel value="#{msg.make} #{msg.code}"/>
                                    <h:inputText class="form-control" value="#{vehicleMakeController.vehicleMake.vehicleMakeCode}"/>
                                    <h:outputLabel value="#{msg.vehicle} #{msg.make}"/>
                                    <h:inputText class="form-control" value="#{vehicleMakeController.vehicleMake.vehicleMakeName}"/>

                                </h:panelGrid>
                                <dvla:formControl saveButtonAction="#{vehicleMakeController.saveMethod()}" cancelButtonAction="#{vehicleMakeController.clearMethod()}"/>
                            </h:form>
                        </div>
                    </div>
                   
                    <h:form>
                        <p:dataTable value="#{vehicleMakeController.vehicleMakesList}" var="make">
                            <p:column headerText="#{msg.vehicle} #{msg.make} #{msg.code}">
                                <h:outputLabel value="#{make.vehicleMakeCode}"/>
                            </p:column>
                            <p:column headerText="#{msg.vehicle} #{msg.make} #{msg.name}">
                                <h:outputLabel value="#{make.vehicleMakeName}"/>
                            </p:column>

                            <p:column headerText="#{msg.selected}">
                                <p:commandLink value="#{msg.selected}" ajax="false" action="#{vehicleMakeController.selectMethod(make)}" class="pull-right"/>
                            </p:column>
                            <p:column headerText="#{msg.delete}">
                                <p:commandLink value="#{msg.delete}" ajax="false" action="#{vehicleMakeController.deleteMethod(make)}" class="pull-right"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:tab>
                <p:tab title=" #{msg.vehicle}   #{msg.model}">
                     <div class="row">
                        <div class="col-md-6">
                            <h:form>
                                <h:panelGrid columns="4" class="table table-responsive">
                                    <h:outputLabel value="#{msg.vehicle} #{msg.make}"/>
                                    <h:selectOneMenu class="form-control" value="#{vehicleModelController.vehicleModel.vehicleMake}">
                                        <f:selectItem itemLabel="#{msg.select_one}"/>
                                        <f:selectItems value="#{commonOption.vehicleMakeList}"/>
                                    </h:selectOneMenu>
                                    <h:outputLabel value="#{msg.model} #{msg.code}"/>
                                    <h:inputText class="form-control" value="#{vehicleModelController.vehicleModel.vehicleModelCode}"/>
                                    <h:outputLabel value="#{msg.vehicle} #{msg.model}"/>
                                    <h:inputText class="form-control" value="#{vehicleModelController.vehicleModel.vehicleModelName}"/>

                                </h:panelGrid>
                                <dvla:formControl saveButtonAction="#{vehicleModelController.saveMethod()}" cancelButtonAction="#{vehicleModelController.clearMethod()}"/>
                            </h:form>
                        </div>
                    </div>
                    
                    <h:form>
                        <p:dataTable value="#{vehicleModelController.vehicleModelsList}" var="model">
                            <p:column headerText="#{msg.vehicle} #{msg.make} ">
                                <h:outputLabel value="#{model.vehicleMake.vehicleMakeName}"/>
                            </p:column>
                            <p:column headerText="#{msg.vehicle} #{msg.model} #{msg.code}">
                                <h:outputLabel value="#{model.vehicleModelCode}"/>
                            </p:column>
                            <p:column headerText="#{msg.vehicle} #{msg.model} #{msg.name}">
                                <h:outputLabel value="#{model.vehicleModelName}"/>
                            </p:column>

                             <p:column headerText="#{msg.selected}">
                                <p:commandLink value="#{msg.selected}" ajax="false" action="#{vehicleModelController.selectMethod(model)}" class="pull-right"/>
                            </p:column>
                            <p:column headerText="#{msg.delete}">
                                <p:commandLink value="#{msg.delete}" ajax="false" action="#{vehicleModelController.deleteMethod(model)}" class="pull-right"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:tab>
                <p:tab title=" #{msg.vehicle}   #{msg.usage}">
                     <div class="row">
                        <div class="col-md-6">
                            <h:form>
                                <h:panelGrid columns="4" class="table table-responsive">
                                    <h:outputLabel value="#{msg.usage} #{msg.code}"/>
                                    <h:inputText class="form-control" value="#{vehicleUsageController.vehicleUsage.vehicleUsageCode}"/>
                                    <h:outputLabel value="#{msg.vehicle} #{msg.usage} "/>
                                    <h:inputText class="form-control" value="#{vehicleUsageController.vehicleUsage.vehicleUsageName}"/>

                                </h:panelGrid>
                                <dvla:formControl saveButtonAction="#{vehicleUsageController.saveMethod()}" cancelButtonAction="#{vehicleUsageController.clearMethod()}"/>
                            </h:form>
                        </div>
                    </div>
                    
                    <h:form>
                        <p:dataTable value="#{vehicleUsageController.vehicleUsagesList}" var="usage">
                            <p:column headerText="#{msg.vehicle} #{msg.usage} #{msg.code}">
                                <h:outputLabel value="#{usage.vehicleUsageCode}"/>
                            </p:column>
                            <p:column headerText="#{msg.vehicle} #{msg.usage} #{msg.name}">
                                <h:outputLabel value="#{usage.vehicleUsageName}"/>
                            </p:column>

                             <p:column headerText="#{msg.selected}">
                                <p:commandLink value="#{msg.selected}" ajax="false" action="#{vehicleUsageController.selectMethod(usage)}" class="pull-right"/>
                            </p:column>
                            <p:column headerText="#{msg.delete}">
                                <p:commandLink value="#{msg.delete}" ajax="false" action="#{vehicleUsageController.deleteMethod(usage)}" class="pull-right"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:tab>
            </p:tabView>

        </ui:define>
    </ui:composition>
</html>