<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dvla="http://xmlns.jcp.org/jsf/composite/dvla">

      <ui:composition template="./../../../template.xhtml">
        <ui:define name="title" >
            #{msg.vehicle}   #{msg.type} 
        </ui:define>
        <ui:define name="body" >
            <div class="row">
                <h:form>
                    <div class="col-md-6">

                        <h:panelGrid columns="4" class="table table-responsive">
                            <h:outputLabel value="#{msg.vehicle} #{msg.code}"/>
                            <h:inputText class="form-control" value="#{vehicleTypeController.vehicleType.vehicleTypeCode}"/>
                            <h:outputLabel value="#{msg.vehicle} #{msg.type} #{msg.name}"/>
                            <h:inputText class="form-control" value="#{vehicleTypeController.vehicleType.vehicleTypeName}"/>

                        </h:panelGrid>
                        
                        <dvla:formControl saveButtonAction="#{vehicleTypeController.saveMethod()}" cancelButtonAction="#{vehicleTypeController.clearMethod()}"/>
                    </div>
                    

                </h:form>
            </div>

            <h:form>
                <p:dataTable value="#{vehicleTypeController.vehicleTypesList}" var="vehicle">
                    <p:column headerText="#{msg.vehicle} #{msg.type} #{msg.code}">
                        <h:outputLabel value="#{vehicle.vehicleTypeCode}"/>
                    </p:column>
                    <p:column headerText="#{msg.vehicle} #{msg.name}">
                        <h:outputLabel value="#{vehicle.vehicleTypeCode}"/>
                    </p:column>

                    <p:column headerText="#{msg.selected}">
                        <p:commandLink value="#{msg.selected}" action="#{vehicleTypeController.selectMethod(vehicle)}" ajax="false" class="active btn-default"/>
                    </p:column>
                    <p:column headerText="#{msg.delete}">
                        <p:commandLink value="#{msg.delete}" action="#{vehicleTypeController.deleteMethod(vehicle)}" ajax="false" class="active btn-danger"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</html>