<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:stately="http://xmlns.jcp.org/jsf/composite/stately"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Invoicing
            </ui:define>

            <ui:define name="pageTitle">
                Drivers' Services Invoice Processing
            </ui:define>

            <ui:define name="content">
                <div class="row">
                    <div class="col-md-12 ui-sortable">
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Invoice Query</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h:form class="form-inline">
                                            <div class="form-group">
                                                <input class="form-control input-sm" type="text" jsf:value="#{driverInvoiceProcessingController.invoiceNumber}"
                                                       jsf:id="invoiceNo"  id="exampleInputEmail1" placeholder="Enter Invoice No." jsf:disabled="#{driverInvoiceProcessingController.transactions!=null}"/>
                                            </div>
                                            <div class="form-group">
                                                <h:commandLink class="btn btn-inverse btn-sm" action="#{driverInvoiceProcessingController.searchSerivceInvoice()}">
                                                    <span class="fa fa-search"></span> Search
                                                </h:commandLink>
                                            </div>
                                        </h:form>
                                    </div>
                                </div><br/>

                                <f:subview id="serviceApp" rendered="#{driverInvoiceProcessingController.transactions!=null}">


                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="nav nav-tabs bg-black">
                                                <li class="#{driverInvoiceProcessingController.processTabs.appliedService}"><a href="#default-tab-1" data-toggle="tab" style="pointer-events: none;" >Applied Service</a></li>
                                                <li class="#{driverInvoiceProcessingController.processTabs.serviceTestResults}"><a href="#default-tab-3" data-toggle="tab" style="pointer-events: none;">Test Results</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane #{driverInvoiceProcessingController.processTabs.appliedService}" id="default-tab-1">
                                                    <h:form>
                                                        <div class="row">

                                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                                <f:subview id="upgrade" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'UPG'}">
                                                                    <ui:include src="../../includes/driverInvoiceServices/upgrade.xhtml"/>
                                                                </f:subview>
                                                                <f:subview id="conversion" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'CFL'}">
                                                                    <ui:include src="../../includes/driverInvoiceServices/conversion.xhtml"/>
                                                                </f:subview>
                                                                <f:subview id="intelPermit" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'IDP'}">
                                                                    <ui:include src="../../includes/driverInvoiceServices/intel-permit.xhtml"/>
                                                                </f:subview>
                                                                <f:subview id="proficiencyTest" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'PROFI'}">
                                                                    <ui:include src="../../includes/driverInvoiceServices/proficiency-test.xhtml"/>
                                                                </f:subview>
                                                            </div>


                                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>

                                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">


                                                                <f:subview id="toTestResults" rendered="#{driverInvoiceProcessingController.transactions.applicantId.biometricData}">

                                                                    <h4 class="m-t-10 text-ellipsis">Applicant Information</h4><br/>
                                                                    <div class="table-responsive">
                                                                        <table class="table table-profile">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="field">Name</td>
                                                                                    <td>#{driverInvoiceProcessingController.transactions.applicantId.applicantName}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="field">Gender</td>
                                                                                    <td>#{driverInvoiceProcessingController.transactions.applicantId.gender.initial}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="field">Mobile</td>
                                                                                    <td>#{driverInvoiceProcessingController.transactions.applicantId.telephone}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="field">Date Of Birth</td>
                                                                                    <td><stately:dateDisplay value="#{driverInvoiceProcessingController.transactions.applicantId.dateOfBirth}"/></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="field">Email</td>
                                                                                    <td>#{driverInvoiceProcessingController.transactions.applicantId.emailAddress}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="field">Address</td>
                                                                                    <td>#{driverInvoiceProcessingController.transactions.applicantId.residential}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="field">Country</td>
                                                                                    <td>#{driverInvoiceProcessingController.transactions.applicantId.nationality}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="row"> 
                                                                        <div class="col-lg-4">
                                                                            <div class="form-group">
                                                                                <div class="row">
                                                                                    <div class="col-sm-6">
                                                                                        <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{driverInvoiceProcessingController.cancel()}"
                                                                                                       immediate="true">
                                                                                            <i class="fa fa-times"></i>
                                                                                            Cancel
                                                                                        </h:commandLink>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{driverInvoiceProcessingController.currentTab()}"
                                                                                                       >
                                                                                            <f:setPropertyActionListener target="#{driverInvoiceProcessingController.currentStep}" value="2"/>
                                                                                            <i class="fa fa-arrow-right"></i>
                                                                                            Next
                                                                                        </h:commandLink>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </f:subview>
                                                            </div>

                                                        </div>




                                                        <br/>
                                                    </h:form>
                                                </div>
                                                <div class="tab-pane #{driverInvoiceProcessingController.processTabs.serviceTestResults}" id="default-tab-3">

                                                    <h:form>
                                                        <h4 class="m-t-10">Applied Service Test Results ( #{driverInvoiceProcessingController.transactions.serviceCode.serviceName} )</h4><br/>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <p:dataTable value="#{driverInvoiceProcessingController.listOfServiceTest}" var="test">
                                                                    <p:column headerText="Test">
                                                                        <h:outputLabel value="#{test.activity.activityName}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Test Result">
                                                                        <span class="text-danger"> <h:message for="testResults"/></span>
                                                                        <h:selectOneMenu class="form-control input-sm" id="testResults" value="#{test.testResults}" required="true" requiredMessage=" * test results required">
                                                                            <f:selectItems value="#{commonOption.passOrFailedList('Select One')}"/>
                                                                        </h:selectOneMenu>
                                                                    </p:column>
                                                                </p:dataTable><br/><br/>

                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                                            <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{driverInvoiceProcessingController.cancel()}"
                                                                                           immediate="true">
                                                                                <i class="fa fa-times"></i>
                                                                                Cancel
                                                                            </h:commandLink>
                                                                        </div>
                                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                                            <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{driverInvoiceProcessingController.currentTab()}"
                                                                                           immediate="true">
                                                                                <f:setPropertyActionListener target="#{driverInvoiceProcessingController.currentStep}" value="1"/>
                                                                                <i class="fa fa-arrow-left"></i>
                                                                                Back
                                                                            </h:commandLink>
                                                                        </div>
                                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 ">
                                                                            <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{driverInvoiceProcessingController.postBioData()}">
                                                                                <i class="fa fa-save"></i>
                                                                                Post
                                                                            </h:commandLink>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:form>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </f:subview>

                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
