<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:stately="http://xmlns.jcp.org/jsf/composite/stately"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Invoicing
            </ui:define>

            <ui:define name="pageTitle">
                Drivers' Services Invoice Processing
            </ui:define>

            <ui:define name="content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Invoice Query</h4>
                            </div>
                            <div class="panel-body">
                                <h:form >
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <input class="form-control input-sm" type="text" jsf:value="#{driverInvoiceProcessingController.invoiceNumber}"
                                                           jsf:id="invoiceNo"  id="exampleInputEmail1" placeholder="Enter Invoice No." jsf:disabled="#{driverInvoiceProcessingController.transactions!=null}"/>
                                                </div>
                                                <div class="form-group">
                                                    <h:commandLink class="btn btn-inverse btn-sm" action="#{driverInvoiceProcessingController.searchSerivceInvoice()}">
                                                        <span class="fa fa-search"></span> Search
                                                    </h:commandLink>
                                                </div>
                                                <div class="form-group">
                                                    <h:commandLink class="btn btn-inverse btn-sm" action="#{driverInvoiceProcessingController.cancel()}"
                                                                   immediate="true">
                                                        <span class="fa fa-times"></span> Cancel
                                                    </h:commandLink>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br/>

                                    <f:subview id="serviceApp" rendered="#{driverInvoiceProcessingController.transactions!=null}">
                                        <div class="row">

                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <h4 class="m-t-10 text-ellipsis">Service Information</h4><br/>

                                                <f:subview id="upgrade" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'UPG'}">
                                                    <ui:include src="../../includes/driverInvoiceServices/upgrade.xhtml"/>
                                                </f:subview>

                                                <f:subview id="conversion" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'CFL'}">
                                                    <ui:include src="../../includes/driverInvoiceServices/conversion.xhtml"/>
                                                </f:subview>

                                                <f:subview id="intelPermit" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'IDP'}">
                                                    <ui:include src="../../includes/driverInvoiceServices/intel-permit.xhtml"/>
                                                </f:subview>

                                                <f:subview id="proficiencyTest" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'PROFI'}">
                                                    <ui:include src="../../includes/driverInvoiceServices/proficiency-test.xhtml"/>
                                                </f:subview>

                                                <f:subview id="learners" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'NDL1'}">
                                                    <ui:include src="../../includes/driverInvoiceServices/learners-permit.xhtml"/>
                                                </f:subview>

                                                <f:subview id="fullLicense" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'WORKIN'}">
                                                    <ui:include src="../../includes/driverInvoiceServices/full-license.xhtml"/>
                                                </f:subview>

                                                <f:subview id="renewal" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'REN1'}">
                                                    <ui:include src="../../includes/driverInvoiceServices/renewal.xhtml"/>
                                                </f:subview>

                                                <f:subview id="replacement"
                                                           rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'ROL' or
                                                                       driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'ROL2' or 
                                                                       driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'ROL4' or 
                                                                       driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'ROL5' }" 
                                                           >
                                                    <ui:include src="../../includes/driverInvoiceServices/replacement.xhtml"/>
                                                </f:subview>

                                                <ui:remove>
                                                    <f:subview id="replacementExpired"
                                                               rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'ROL'}">
                                                        <ui:include src="../../includes/driverInvoiceServices/replacement-expired.xhtml"/>
                                                    </f:subview>

                                                    <f:subview id="replacementMissing" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'ROL2'}">
                                                        <ui:include src="../../includes/driverInvoiceServices/replacement-missing.xhtml"/>
                                                    </f:subview>

                                                    <f:subview id="replacementDefaced" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'ROL4'}">
                                                        <ui:include src="../../includes/driverInvoiceServices/replacement-defaced.xhtml"/>
                                                    </f:subview>

                                                    <f:subview id="replacementChangeOfDetails" rendered="#{driverInvoiceProcessingController.transactions.serviceCode.serviceCode eq 'ROL5'}">
                                                        <ui:include src="../../includes/driverInvoiceServices/replacement-details.xhtml"/>
                                                    </f:subview>
                                                </ui:remove>

                                            </div>


                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                                                <h4 class="m-t-10 text-ellipsis">Applicant Information</h4><br/>

                                                <div class="form-group">
                                                    <label >Name</label>
                                                    <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                  value="#{driverInvoiceProcessingController.transactions.applicantId.applicantName}"/>
                                                </div>
                                                <div class="form-group margin-top-minus-10">
                                                    <label >Gender</label>
                                                    <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true"
                                                                  value="#{driverInvoiceProcessingController.transactions.applicantId.gender.initial}"/>
                                                </div>
                                                <div class="form-group margin-top-minus-10">
                                                    <label >Mobile</label>
                                                    <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                  value="#{driverInvoiceProcessingController.transactions.applicantId.telephone}"/>
                                                </div>
                                                <div class="form-group margin-top-minus-10">
                                                    <label >Date Of Birth</label>
                                                    <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                  value="#{driverInvoiceProcessingController.transactions.applicantId.dateOfBirth}">
                                                        <f:convertDateTime pattern="#{msg.date_pattern}"/>
                                                    </h:inputText>
                                                </div>
                                                <div class="form-group margin-top-minus-10">
                                                    <label >Email Address</label>
                                                    <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                  value="#{driverInvoiceProcessingController.transactions.applicantId.emailAddress}"/>
                                                </div>
                                                <div class="form-group margin-top-minus-10">
                                                    <label >Address</label>
                                                    <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                  value="#{driverInvoiceProcessingController.transactions.applicantId.residential}"/>
                                                </div>
                                                <div class="form-group margin-top-minus-10">
                                                    <label >Country</label>
                                                    <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                                                                  value="#{driverInvoiceProcessingController.transactions.country}"/>
                                                </div>

                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <h4 class="m-t-10">Applied Service Test Results</h4><br/>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <strong>#{driverInvoiceProcessingController.transactions.serviceCode.serviceName}</strong>
                                                        <p:dataTable value="#{driverInvoiceProcessingController.listOfServiceTest}" var="test">
                                                            <p:column headerText="Requirement / Test">
                                                                <h:outputLabel value="#{test.activity.activityName}"/>
                                                            </p:column>
                                                            <p:column headerText="Requirement /Test Type">
                                                                <h:outputLabel value="#{test.activity.activityType.title}"/>
                                                            </p:column>
                                                            <p:column headerText="Test Result" width="150">
                                                                <span class="text-danger"> <h:message for="testResults"/></span>
                                                                <h:selectOneMenu class="form-control input-sm" id="testResults" value="#{test.testResults}" required="true" requiredMessage=" * test results required">
                                                                    <f:selectItems value="#{commonOption.passOrFailedList('Select One')}"/>
                                                                </h:selectOneMenu>
                                                            </p:column>
                                                        </p:dataTable>

                                                        <br/><br/>
                                                        <f:subview id="toTestResults" rendered="#{driverInvoiceProcessingController.transactions.applicantId.biometricData}">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6"> </div>

                                                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                                                                        <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{driverInvoiceProcessingController.cancel()}"
                                                                                       immediate="true">
                                                                            <i class="fa fa-times"></i>
                                                                            Cancel
                                                                        </h:commandLink>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                                                                        <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{driverInvoiceProcessingController.postBioData()}">
                                                                            <i class="fa fa-save"></i>
                                                                            Post
                                                                        </h:commandLink>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </f:subview>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </f:subview>
                                </h:form>

                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
