<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../../../template.xhtml">
        <ui:define name="menuName" >
            #{msg.masters} 
        </ui:define>
        <ui:define name="pageName" >
            Apply For DVLA Service
        </ui:define>
        <ui:define name="body" >

            <div class="row">
                <div class="col-md-6">
                    <h:form>
                        <div class="box-info">
                            <h2>License Information</h2>
                            <div class="row">
                                <div class="col-sm-12"> 
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="licenseClass">#{msg.center}<span class="red"> * </span><h:message class="required" for="licenseClass"/></label>
                                                <h:selectOneMenu id="licenseClass" class="form-control input-sm"  
                                                                 required="true" requiredMessage="required" value="#{registrationController.applicant.surname}">
                                                    <f:selectItem itemLabel="#{msg.select_one}"/>
                                                    <f:selectItems value="#{commonOption.dvlaCenterList}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="licenseCategory">#{msg.License} #{msg.category}<span class="red"> * </span><h:message class="required" for="licenseCategory"/></label>
                                                <h:selectOneMenu id="licenseCategory" class="form-control input-sm"  
                                                                 required="true" requiredMessage="required" value="#{registrationController.applicant.surname}">
                                                    <f:selectItem itemLabel="#{msg.select_one}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <div class="col-md-6">
                    <div class="box-info">
                        <h2>License Summary</h2>
                        <p:dataTable reflow="true" >
                            <p:column headerText="#{msg.item} #{msg.code}">
                            </p:column>
                            <p:column headerText="#{msg.item} #{msg.name}">
                            </p:column>
                            <p:column headerText="#{msg.qty}">
                            </p:column>
                            <p:column headerText="#{msg.amount}">
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </div>


        </ui:define>
    </ui:composition>
</html>