/* 
    Created on : May 18, 2016, 11:47:54 AM
    Author     : Daud
*/

.margin-top-minus-10{margin-top: -10px;}
.margin-top-minus-20{margin-top: -20px;}
.margin-top-plus-10{ margin-top: 10px;}
.margin-top-plus-20{margin-top: 20px;}
.block-display{display: block!important;}
.nav>li>a {color: #fff;}

.ui-column-title{
    float: left;
    font-size: 11px!important;
}
.ui-column-title-right{
    float: right;
    font-size: 11px!important;
}
td label,td a{font-family: serif!important;}

/*.top-menu .nav>li>a {
    color: #fff;
}

body{background: red;}
.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover {
    color: #000;
    background: #FFCB09;
}
.sidebar .sub-menu>li>a {
    padding: 5px 20px;
    display: block;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.note {
    margin-bottom: 20px;
    padding: 2px;
    border-left: 3px solid;
}
.note.note-yellow {
    border-color: #FFCB09;
    background: #FFF4CD;
    color: #3c763d;
}
.nav>li>a {
    color: #fff;
}

.yellow-header{
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #242a30;
    border-top: 1px solid #e2e7eb;
    border-bottom: 1px solid #e2e7eb;
}*/
