<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Settings
            </ui:define>

            <ui:define name="pageTitle">
                Application Requirements
            </ui:define>

            <ui:define name="content">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <h:form id="inputDetails"> 
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Activity</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Activity <span class="text-danger"> * <h:message for="activityName"/></span> </label>
                                    <h:inputText class="form-control input-sm" id="activityName" value="#{applicationRequirementController.activity.activityName}"/>
                                </div>
                                <div class="form-group">
                                    <label>Activity Type<span class="text-danger"> * <h:message for="activityType"/></span> </label>
                                    <h:selectOneMenu class="form-control input-sm" id="activityType" value="#{applicationRequirementController.activity.activityType}">
                                        <f:selectItem itemLabel=" Select One"/>
                                        <f:selectItems value="#{commonOption.activityTypeList}"/>
                                    </h:selectOneMenu>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{applicationRequirementController.clearMethod()}"
                                                           immediate="true">
                                                <span class="fa fa-times"></span>
                                                Cancel
                                            </h:commandLink>
                                        </div>
                                        <div class="col-xs-6">
                                            <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{applicationRequirementController.saveMethod()}">
                                                <span class="fa fa-save"></span>
                                                Save
                                            </h:commandLink>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-8">
                    <h:form>
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Activity List</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <h:outputLabel value="Search By" for="searchParameter" class="block-display"/>
                                        <h:selectOneMenu class="form-control input-sm" id="searchParameter" value="#{applicationRequirementController.pageCommonInputs.searchParameter}" >
                                            <f:selectItem itemLabel="Active Name" itemValue="activityName"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group margin-top-plus-20">
                                        <input jsf:value="#{applicationRequirementController.pageCommonInputs.searchValue}" type="text"  placeholder="Enter Search Text"
                                               class="form-control input-sm" />
                                    </div>
                                    <div class="form-group margin-top-plus-20">
                                        <h:commandLink class="btn btn-inverse btn-sm" action="#{applicationRequirementController.searchMethod()}">
                                            <span class="fa fa-search"></span> Search
                                        </h:commandLink>
                                    </div>
                                    <div class="form-group margin-top-plus-20">
                                        <h:commandLink class="btn btn-inverse btn-sm" action="#{applicationRequirementController.viewAllMethod()}"
                                                       immediate="true">
                                            <span class="fa fa-search-plus"></span> Search All
                                        </h:commandLink>
                                    </div>
                                </div><br/>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p:dataTable  value="#{applicationRequirementController.listOfRequirements}"
                                                      reflow="true" scrollable="true" var="act" scrollHeight="380">
                                            <p:column headerText="Activity">
                                                <h:outputLabel value="#{act.activityName}"/>
                                            </p:column>
                                            <p:column headerText="Activity" width="150">
                                                <h:outputLabel value="#{act.activityType.title}"/>
                                            </p:column>
                                            <p:column headerText="Select" width="100">
                                                <p:commandLink styleClass="text-success" update=":inputDetails" action="#{applicationRequirementController.selectMethod(act)}">
                                                    <span class="fa fa-check"></span>
                                                    Select
                                                </p:commandLink>
                                            </p:column>
                                            <p:column headerText="Delete" width="100">
                                                <h:commandLink styleClass="text-danger"  action="#{applicationRequirementController.deleteMethod(act)}"
                                                               onclick="return confirm('Do You Really Want To Delete #{act.activityName}')">
                                                    <span class="fa fa-trash"></span>
                                                    Delete
                                                </h:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
