<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Settings
            </ui:define>

            <ui:define name="pageTitle">
                Driver Service Application
            </ui:define>

            <ui:define name="content">



                <div class="col-md-12 ui-sortable">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">Driver Service Application</h4>
                        </div>
                        <div class="panel-body">
                            <h:form> 
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="">Title <span class="text-danger"> *  <h:message for="title"/></span></label>
                                            <h:selectOneMenu class="form-control input-sm" id="title"
                                                             value="#{driverApplicationController.applicant.title}" >
                                                <f:selectItem itemLabel="Select One"/>
                                                <f:selectItems value="#{commonOption.titleList}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group margin-top-minus-10">
                                            <label for="">First Name <span class="text-danger"> *  <h:message for="firstName"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="firstName" value="#{driverApplicationController.applicant.firstName}"
                                                          required="true" requiredMessage=" required"/>
                                        </div>
                                        <div class="form-group margin-top-minus-10">
                                            <label for="">Second Name <span class="text-danger"> *  <h:message for="secondName"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="secondName" value="#{driverApplicationController.applicant.othername}"
                                                          required="true" requiredMessage=" required"/>
                                        </div>
                                        <div class="form-group  margin-top-minus-10">
                                            <label for="">Last Name <span class="text-danger"> *  <h:message for="lastName"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="lastName" value="#{driverApplicationController.applicant.surname}"
                                                          required="true" requiredMessage=" required"/>
                                        </div>
                                        <div class="form-group  margin-top-minus-10">
                                            <label for="gender">Gender<span class="text-danger"> *  <h:message for="gender"/></span></label>
                                            <h:selectOneMenu class="form-control input-sm" id="gender"
                                                             value="#{driverApplicationController.applicant.gender}" >
                                                <f:selectItem itemLabel="Select One"/>
                                                <f:selectItems value="#{commonOption.gendersList}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group margin-top-minus-10">
                                            <label for="">Mobile Number<span class="text-danger"> *  <h:message for="telephone"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="telephone" value="#{driverApplicationController.applicant.telephone}"
                                                          required="true" requiredMessage=" required" maxlength="10" validatorMessage="Invalid Number">
                                                <f:validateRegex pattern="[0-9]+" for="telephone"/>
                                            </h:inputText>
                                        </div>
                                        <div class="form-group  margin-top-minus-10">
                                            <label for="">Email Address<span class="text-danger"> *  <h:message for="emailAddress"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="emailAddress" value="#{driverApplicationController.applicant.emailAddress}"
                                                          required="true" requiredMessage=" required" />
                                        </div>
                                        <div class="form-group margin-top-minus-10">
                                            <label for="">Residential Address<span class="text-danger"> *  <h:message for="secondName"/></span></label>
                                            <h:inputText  class="form-control input-sm" id="residential" value="#{driverApplicationController.applicant.residential}"
                                                          required="true" requiredMessage=" required"/>
                                        </div>
                                        <div class="form-group margin-top-minus-10">
                                            <label class="block-display" for="nationality">Country<span class="text-danger"> *  <h:message for="country"/></span></label>
                                            <p:selectOneMenu id="country" converter="omnifaces.SelectItemsConverter" styleClass="width-full"
                                                             filter="true" filterMatchMode="contains"
                                                             value="#{driverApplicationController.applicant.nationality}" >
                                                <f:selectItem itemLabel="Select One"/>
                                                <f:selectItems value="#{commonOption.countryList}"/>
                                            </p:selectOneMenu>
                                        </div> 
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group " >
                                            <label>Service</label>
                                            <p:selectOneMenu  value="#{driverApplicationController.transactions.serviceCode}" style="width: 100%;"
                                                             converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="contains">
                                                <f:selectItems value="#{commonOption.driverServices}"/>
                                            </p:selectOneMenu>
                                        </div>
                                        <div class="form-group margin-top-minus-10">
                                            <label class="block-display">License Class</label>
                                            <h:selectOneMenu class="form-control input-sm" value="#{driverApplicationController.transactions.licenseClass}"
                                                             converter="omnifaces.SelectItemsConverter">
                                                <f:selectItems value="#{commonOption.licenseClassList}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group margin-top-minus-10">
                                            <label class="block-display">Center</label>
                                            <p:selectOneMenu value="#{driverApplicationController.transactions.centerCode}" style="width: 100%;"
                                                             converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="contains">
                                                <f:selectItems value="#{commonOption.dvlaCenterList}"/>
                                            </p:selectOneMenu>
                                        </div>
                                          <div class="form-group margin-top-minus-10">
                                            <label for="">Reason<span class="text-danger"> *  <h:message for="reason"/></span></label>
                                            <h:inputTextarea  class="form-control input-sm" id="reason" value="#{driverApplicationController.transactions.reason}"
                                                          />
                                        </div>
                                        <div class="form-group margin-top-minus-10">
                                            <label>Biometric Data</label>
                                            <h:selectOneMenu class="form-control input-sm" value="#{driverApplicationController.applicant.biometricData}"
                                                             converter="omnifaces.SelectItemsConverter">
                                                <f:selectItem itemLabel="Select One"/>
                                                <f:selectItem itemLabel="Passed" itemValue="true"/>
                                                <f:selectItem itemLabel="Failed" itemValue="false"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6 hidden">
                                                    <h:commandLink class="btn btn-sm btn-inverse btn-block">
                                                        <span class="fa fa-times"></span>
                                                        Cancel
                                                    </h:commandLink>
                                                </div>
                                                <div class="col-xs-12">
                                                    <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{driverApplicationController.saveApplication()}">
                                                        <span class="fa fa-save"></span>
                                                        Save
                                                    </h:commandLink>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></h:form>
                        </div>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
