<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Settings
            </ui:define>

            <ui:define name="pageTitle">
                Application Requirements
            </ui:define>

            <ui:define name="content">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <h:form id="inputDetails"> 
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Statutory Requirement</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="block-display">Service <span class="text-danger"> * <h:message for="service"/></span> </label>
                                    <p:selectOneMenu  id="service" value="#{serviceRequirementController.serviceActivity.service}" 
                                                      filter="true" filterMatchMode="contains" styleClass="width-full"
                                                      converter="omnifaces.SelectItemsConverter" required="true" requiredMessage=" required">
                                        <f:selectItem itemLabel="Select One"/>
                                        <f:selectItems value="#{commonOption.driverServices}"/>
                                    </p:selectOneMenu>
                                </div>
                                <div class="form-group">
                                    <label>Requirement <span class="text-danger"> * <h:message for="activity"/></span> </label>
                                    <p:selectOneMenu  id="activity" value="#{serviceRequirementController.serviceActivity.activity}"
                                                     filter="true" filterMatchMode="contains" styleClass="width-full"
                                                     converter="omnifaces.SelectItemsConverter" required="true" requiredMessage=" required">    
                                        <f:selectItem itemLabel="Select One"/>
                                        <f:selectItems value="#{commonOption.activeActivities}"/>
                                    </p:selectOneMenu>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{serviceRequirementController.clearMethod()}"
                                                           immediate="true">
                                                <span class="fa fa-times"></span>
                                                Cancel
                                            </h:commandLink>
                                        </div>
                                        <div class="col-xs-6">
                                            <h:commandLink class="btn btn-sm btn-inverse btn-block" action="#{serviceRequirementController.saveMethod()}">
                                                <span class="fa fa-save"></span>
                                                Save
                                            </h:commandLink>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-8">
                    <h:form>
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">Statutory Requirement List</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <h:outputLabel value="Search By" for="searchParameter" class="block-display"/>
                                        <h:selectOneMenu class="form-control input-sm" id="searchParameter" value="#{serviceRequirementController.pageCommonInputs.searchParameter}" >
                                            <f:selectItem itemLabel="Serivice" itemValue="service.serviceName"/>
                                            <f:selectItem itemLabel="Requirement" itemValue="activity.activityName"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group margin-top-plus-20">
                                        <input jsf:value="#{serviceRequirementController.pageCommonInputs.searchValue}" type="text"  placeholder="Enter Search Text"
                                               class="form-control input-sm" />
                                    </div>
                                    <div class="form-group margin-top-plus-20">
                                        <h:commandLink class="btn btn-inverse btn-sm" action="#{serviceRequirementController.searchMethod()}">
                                            <span class="fa fa-search"></span> Search
                                        </h:commandLink>
                                    </div>
                                    <div class="form-group margin-top-plus-20">
                                        <h:commandLink class="btn btn-inverse btn-sm" action="#{serviceRequirementController.viewAllMethod()}"
                                                       immediate="true">
                                            <span class="fa fa-search-plus"></span> Search All
                                        </h:commandLink>
                                    </div>
                                </div><br/>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p:dataTable  value="#{serviceRequirementController.listOfRequirements}"
                                                      reflow="true" scrollable="true" var="act" scrollHeight="370">
                                            <p:column headerText="Service">
                                                <h:outputLabel value="#{act.service.serviceName}"/>
                                            </p:column>
                                            <p:column headerText="Requirement">
                                                <h:outputLabel value="#{act.activity.activityName}"/>
                                            </p:column>
                                            <p:column headerText="Select" width="100">
                                                <p:commandLink styleClass="text-success text-upperCase" update=":inputDetails" action="#{serviceRequirementController.selectMethod(act)}">
                                                    <span class="fa fa-check"></span>
                                                    Select
                                                </p:commandLink>
                                            </p:column>
                                            <p:column headerText="Delete" width="100">
                                                <h:commandLink styleClass="text-danger"  action="#{serviceRequirementController.deleteMethod(act)}"
                                                               onclick="return confirm('Do You Really Want To Delete #{act.service.serviceName} Requirement')">
                                                    <span class="fa fa-trash"></span>
                                                    Delete
                                                </h:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
