<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../appTemplate.xhtml">

            <ui:define name="menuName">
                Settings
            </ui:define>

            <ui:define name="pageTitle">
                User Accounts
            </ui:define>

            <ui:define name="content">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <h:form> 
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <h4 class="panel-title">User Account Details</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Name <span class="text-danger"> * <h:message for="fullName"/></span> </label>
                                    <h:inputText class="form-control input-sm" id="fullName"/>
                                </div>
                                <div class="form-group margin-top-minus-10">
                                    <label>Username <span class="text-danger"> * <h:message for="username"/></span> </label>
                                    <h:inputText class="form-control input-sm" id="username" value="#{userAccessAccountController.accessAccount.fullName}"/>
                                </div>
                                <div class="form-group margin-top-minus-10">
                                    <label>Password <span class="text-danger"> * <h:message for="password"/></span> </label>
                                    <h:inputText class="form-control input-sm" id="password" value="#{userAccessAccountController.accessAccount.password}"/>
                                </div>
                                <div class="form-group margin-top-minus-10">
                                    <label>Confirmed Password <span class="text-danger"> * <h:message for="cpassword"/></span> </label>
                                    <h:inputText class="form-control input-sm" id="cpassword" value="#{userAccessAccountController.accessAccount.confirmedPassword}"/>
                                </div>
                                <div class="form-group margin-top-minus-10">
                                    <label>Center <span class="text-danger"> * <h:message for="fullName"/></span> </label>
                                    <h:selectOneMenu class="form-control input-sm" id="center" value="#{userAccessAccountController.accessAccount.center}"
                                                     converter="omnifaces.SelectItemsConverter">
                                        <f:selectItems value="#{commonOption.dvlaCenterList}"/>
                                    </h:selectOneMenu>
                                </div>
                                <div class="form-group margin-top-minus-10">
                                    <label>User Role <span class="text-danger"> * <h:message for="userRole"/></span> </label>
                                    <h:selectOneMenu class="form-control input-sm" id="userRole" value="#{userAccessAccountController.accessAccount.userRole}">
                                        <f:selectItems value="#{commonOption.driverServices}"/>
                                    </h:selectOneMenu>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h:commandLink class="btn btn-sm btn-inverse btn-block">
                                                <span class="fa fa-times"></span>
                                                Cancel
                                            </h:commandLink>
                                        </div>
                                        <div class="col-xs-6">
                                            <h:commandLink class="btn btn-sm btn-inverse btn-block">
                                                <span class="fa fa-save"></span>
                                                Save
                                            </h:commandLink>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-8">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">User Account List</h4>
                        </div>
                        <div class="panel-body">
                            Panel Content Here
                        </div>
                    </div>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
