<div  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="form-group">
        <label for="numberOfShares">Service Applied</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                      value="#{driverInvoiceProcessingController.transactions.serviceCode.serviceName}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label for="numberOfShares">License Class</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true"
                      value="#{driverInvoiceProcessingController.transactions.licenseClass}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label for="numberOfShares">Destinations</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                      value="#{driverInvoiceProcessingController.transactions.destination}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label for="numberOfShares">Center</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                      value="#{driverInvoiceProcessingController.transactions.centerCode.centerName}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label for="numberOfShares">Date Applied</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true"
                      value="#{driverInvoiceProcessingController.transactions.dateApplied}">
            <f:convertDateTime pattern="dd/MM/yyyy h:mm:ss a"/>
        </h:inputText>
    </div>
</div>