<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8" />
        <title>DVLA</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="#{application.contextPath}/resources/color/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="#{application.contextPath}/resources/color/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <link href="#{application.contextPath}/resources/color/css/animate.min.css" rel="stylesheet" />
        <link href="#{application.contextPath}/resources/color/css/style.min.css" rel="stylesheet" />
        <link href="#{application.contextPath}/resources/color/css/style-responsive.min.css" rel="stylesheet" />
        <!--<link href="#{application.contextPath}/resources/color/css/theme/default.css" rel="stylesheet" id="theme" />-->
        <!-- ================== BEGIN BASE JS ================== -->
        <!--<link href="#{application.contextPath}/resources/color/css/bwizard.min.css" rel="stylesheet" />-->
        <link href="../resources/color/css/bwizard.min.css" rel="stylesheet" />
        <!--<script src="#{application.contextPath}/resources/color/plugins/pace/pace.min.js"></script>-->
        <!-- ================== END BASE JS ================== -->


        <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
        <link href="assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
        <!-- ================== END PAGE LEVEL STYLE ================== -->

        <h:outputScript library="primefaces" name="jquery/jquery.js" />

        <link href="#{application.contextPath}/resources/color/css/dvla.css" rel="stylesheet" />

    </h:head>
    <h:body>

        <!-- begin #page-loader -->
        <div id="page-loader" class="fade in"><span class="spinner"></span></div>
        <!-- end #page-loader -->

        <!-- begin #page-container -->
        <div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar">
            <div id="header" class="header navbar navbar-default navbar-fixed-top" style="background:#246E2F;">
                <div class="container-fluid">
                    <div class="navbar-header" >
                        <a style="width: 700px;" href="#{application.contextPath}/app/secure/dashbord.xhtml" class="navbar-brand">
                            <span><img style="padding-bottom:15px;" height="50" width="50" src="#{application.contextPath}/resources/color/img/dvla.jpg" alt="" />   </span>
                        </a>
                        <button type="button" class="navbar-toggle hidden" data-click="top-menu-toggled">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <h:form>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown navbar-user">
                                <a href="javascript:;" class="dropdown-toggle text-white" data-toggle="dropdown">
                                    <img src="#{application.contextPath}/resources/color/img/profile-picture.png" alt="" /> 
                                    #{loginController.userSession.userAccessAccount.fullName}
                                    <span class="hidden-xs text-inverse"><strong>#{loginController.userSession.fullName}</strong></span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInLeft">
                                    <li><a  style="color: red;font-weight: bold;" href="javascript:;" jsf:action="#{loginController.logoutUser()}"><i class="fa fa-sign-out"></i>  Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </h:form>

                </div>
            </div>

            <!-- begin #sidebar -->
            <div id="sidebar" class="sidebar">
                <!-- begin sidebar scrollbar -->
                <div data-scrollbar="true" data-height="100%">
                    <!-- begin sidebar user -->
                    <ul class="nav">
                        <li class="nav-profile">
                            <div class="image">
                                <a href="javascript:;"><img src="#{application.contextPath}/resources/color/img/profile-picture.png" alt="" /></a>
                            </div>
                            <div class="info">
                                <small>Current User</small>
                                #{loginController.userSession.userAccessAccount.fullName}
                            </div>
                        </li>
                    </ul>

                    <!-- end sidebar user -->
                    <!-- begin sidebar nav -->
                    <ul class="nav">
                        <li class="" style="border-bottom: #000 solid thin;"><a href="#{application.contextPath}/app/secured/dashboard.xhtml"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                        <li class="has-sub active">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-cogs"></i>
                                <span>Settings</span> 
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#{application.contextPath}/app/secured/settings/user-accounts.xhtml">User Accounts</a></li>
                                <li><a href="#{application.contextPath}/app/secured/settings/application-requirements.xhtml">Application Requirements</a></li>
                                <li><a href="#{application.contextPath}/app/secured/settings/service-requirements.xhtml">Service Requirements</a></li>
                                <li><a href="#{application.contextPath}/app/secured/settings/driver-application.xhtml">Driver Application</a></li>
                            </ul>
                        </li>
                        <li class="has-sub active">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-users"></i>
                                <span>Applicants</span> 
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#{application.contextPath}/app/secured/applicant/biometric-capturing.xhtml">Biometric Capturing</a></li>
                            </ul>
                        </li>
                        <li class="has-sub active">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-file-text"></i>
                                <span>Invoicing</span> 
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#{application.contextPath}/app/secured/invoicing/invoice-processing.xhtml">Invoice Processing</a></li>
                            </ul>
                        </li>
                        <li class="has-sub active">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-suitcase"></i>
                                <span>Service Authorization</span> 
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/authorise-driver-service.xhtml">Driver Services</a></li>
                            </ul>
                        </li>
                        
                        <li class="has-sub ">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-check-circle"></i>
                                <span>Proficiency Tests</span> 
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/proficiency/updateProficiencyTest.xhtml">Update Tests</a></li>
                                <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/proficiency/authoriseProficiencyTest.xhtml">Authorize</a></li>
                            </ul>
                        </li>
                        
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-leaf"></i>
                                <span>License Renewal</span> 
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/renewal/updateTestsRenewal.xhtml">Update Tests</a></li>
                                <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/renewal/authoriseRenewal.xhtml">Authorize</a></li>
                            </ul>
                        </li>
                        
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-user-plus"></i>
                                <span>License Replacement</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="has-sub">
                                    <a href="javascript:;">
                                        <b class="caret pull-right"></b>
                                        <span>Expired</span> 
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/replacement/updateTestsReplacementForExpired.xhtml">Update Tests</a></li>
                                        <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/replacement/authoriseReplacementForExpired.xhtml">Authorize</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:;">
                                        <b class="caret pull-right"></b>
                                        <span>Missing</span> 
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/replacement/updateTestsReplacementForMissing.xhtml">Update Tests</a></li>
                                        <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/replacement/authoriseReplacementForMissing.xhtml">Authorize</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:;">
                                        <b class="caret pull-right"></b>
                                        <span>De-faced</span> 
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/replacement/updateTestsReplacementForDefaced.xhtml">Update Tests</a></li>
                                        <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/replacement/authoriseReplacementForDefaced.xhtml">Authorize</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:;">
                                        <b class="caret pull-right"></b>
                                        <span>Change Of Name/Details</span> 
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/replacement/updateTestsReplacementForChangeOfDetails.xhtml">Update Tests</a></li>
                                        <li><a href="#{application.contextPath}/app/secured/serviceAuthorisation/replacement/authoriseReplacementForChangeOfDetails.xhtml">Authorize</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        
                    </ul>
                    <!-- end sidebar nav -->
                </div>
                <!-- end sidebar scrollbar -->
            </div>
            <div class="sidebar-bg"></div>
            <!-- end #sidebar -->

            <!-- begin #content -->

            <div id="content" class="content">
                <ol class="breadcrumb pull-left" style="font-size: large;pointer-events: none;">
                    <li class="active1"><a href="javascript:;"><ui:insert name="menuName">Menu Name</ui:insert></a></li>
                    <li class="active"><a style="font-weight: bolder;color:#DF4624;"><ui:insert name="pageTitle">Page Name</ui:insert></a></li>
                </ol>
                <br/><br/><br/>
                <div class="row">
                    <div class="col-xs-12"> <p:messages autoUpdate="true" globalOnly="true"/></div>
                </div>


                <ui:insert name="content"> Page Content</ui:insert>



            </div>
            <!-- end #content -->

            <!-- begin scroll to top btn -->
            <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" style="background: #246E2F;color: #fff;" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
            <!-- end scroll to top btn -->
        </div>
        <!-- end page container -->



        <script src="#{application.contextPath}/resources/color/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]>
                <script src="#{application.contextPath}/resources/color/crossbrowserjs/html5shiv.js"></script>
                <script src="#{application.contextPath}/resources/color/crossbrowserjs/respond.min.js"></script>
                <script src="#{application.contextPath}/resources/color/crossbrowserjs/excanvas.min.js"></script>
        <![endif]-->
        <script src="#{application.contextPath}/resources/color/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <!-- ================== END BASE JS ================== -->



        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <script src="#{application.contextPath}/resources/color/js/bwizard.js"></script>
        <script src="#{application.contextPath}/resources/color/js/form-wizards.demo.min.js"></script>
        <script src="#{application.contextPath}/resources/color/js/apps.min.js"></script> 
        <!-- ================== END PAGE LEVEL JS ================== -->

        <script>
            $(document).ready(function () {
                App.init();
            });
        </script>
    </h:body>
</html>

