<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://xmlns.jcp.org/jsf/html"
              xmlns:f="http://xmlns.jcp.org/jsf/core"
              xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <li class="active">
        <ul class="visible">
            <a href="#{application.contextPath}/app/secured/system/dashboard/system-dashboard.xhtml"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>

        </ul>
    </li> 
    <li >


        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Setup</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            
            <li><a href="#{application.contextPath}/app/secured/system/masters/dvla_center.xhtml">DVLA Centers</a></li>
            <li><a href="#{application.contextPath}/app/secured/system/masters/dvla_accounts.xhtml">DVLA Accounts</a></li>
            <li><a href="#{application.contextPath}/app/secured/system/masters/dvla_accounts_category.xhtml">Accounts Category</a></li>
            <li><a href="#{application.contextPath}/app/secured/system/masters/service_types.xhtml">Services Type</a></li>
            <li><a href="#{application.contextPath}/app/secured/system/masters/items.xhtml">DVLA Items</a></li>
            <li><a href="#{application.contextPath}/app/secured/system/masters/rate.xhtml">Items Rate</a></li>
            <li><a href="#{application.contextPath}/app/secured/system/masters/license_category.xhtml">License Category</a></li>
            <li><a href="#{application.contextPath}/app/secured/system/masters/user-account.xhtml">User Account</a></li>

        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">#{msg.applicant}</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="#{application.contextPath}/app/secured/system/masters/dvla_center.xhtml">Applicant</a></li>
        </ul>
    </li>
    <li>
        <a href="#{application.contextPath}/app/secured/system/invoicing/invoice-processing.xhtml"><i class="fa fa-list"></i> <span class="nav-label">Invoice Processing</span></a>
    </li>





    <div class="clear"></div>
</h:panelGroup>

