<div  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="form-group">
        <label >Service</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                      value="#{driveServiceAuthorisationController.transactions.serviceCode.serviceName}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label >License Class</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true"
                      value="#{driveServiceAuthorisationController.transactions.licenseClass}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label >COC No.</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                      value="#{driveServiceAuthorisationController.transactions.cocNo}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label >Current License Class</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                      value="#{driveServiceAuthorisationController.transactions.currentLicenseClass}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label >Center</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true" 
                      value="#{driveServiceAuthorisationController.transactions.centerCode.centerName}"/>
    </div>
    <div class="form-group margin-top-minus-10">
        <label >Date Applied</label>
        <h:inputText  class="form-control input-sm f-s-10 f-w-700" disabled="true"
                      value="#{driveServiceAuthorisationController.transactions.dateApplied}">
            <f:convertDateTime pattern="dd/MM/yyyy h:mm:ss a"/>
        </h:inputText>
    </div>
</div>