<h:panelGroup xmlns="http://www.w3.org/1999/xhtml"
              xmlns:h="http://xmlns.jcp.org/jsf/html"
              xmlns:f="http://xmlns.jcp.org/jsf/core"
              xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


   


    <!--trustee and fund managers-->
    <h:panelGroup rendered="#{!userdata.systemLogin}">




    </h:panelGroup>

 <ui:include src="../secured/system_menu.xhtml" />
  
    <h:panelGroup rendered="#{userdata.systemLogin}">
        <ui:include src="../secured/system_menu.xhtml" />
    </h:panelGroup>
    <h:panelGroup rendered="#{userdata.registrationLogin}">
        <ui:include src="../secured/registration_menu.xhtml" />
    </h:panelGroup>


</h:panelGroup>

