<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <title>Facelet Title</title>
        <link href="#{application.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/font-awesome/css/font-awesome.css" rel="stylesheet"/>

        <!-- Toastr style -->
        <link href="#{application.contextPath}/resources/css/plugins/toastr/toastr.min.css" rel="stylesheet"/>

        <!-- Gritter -->
        <link href="#{application.contextPath}/resources/js/plugins/gritter/jquery.gritter.css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/plugins/steps/jquery.steps.css" rel="stylesheet"/>

        <link href="#{application.contextPath}/resources/css/animate.css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/style.css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/plugins/iCheck/custom.css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/plugins/steps/jquery.steps.css" rel="stylesheet"/>
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
    </h:head>

    
    <h:body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                                        </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>
                                    <li><a href="mailbox.html">Mailbox</a></li>
                                    <li class="divider"></li>
                                    <li><a href="login.html">Logout</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                IN+
                            </div>
                        </li>
                        <li class="active">
                            <ul class="visible">
                                <a href="#{application.contextPath}/app/secured/system/dashboard/system-dashboard.xhtml"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>

                            </ul>
                        </li> <li >


                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">#{msg.set_up}</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                
                                <li><a href="#{application.contextPath}/app/secured/system/masters/dvla_center.xhtml">DVLA Centers saf</a></li>
                                <li><a href="#{application.contextPath}/app/secured/system/masters/dvla_accounts.xhtml">DVLA Accounts</a></li>
                                <li><a href="#{application.contextPath}/app/secured/system/masters/dvla_accounts_category.xhtml">Accounts Category</a></li>
                                <li><a href="#{application.contextPath}/app/secured/system/masters/service_types.xhtml">Services Type</a></li>
                                <li><a href="#{application.contextPath}/app/secured/system/masters/items.xhtml">DVLA Items</a></li>
                                <li><a href="#{application.contextPath}/app/secured/system/masters/license_category.xhtml">License Category</a></li>
                                <li><a href="#{application.contextPath}/app/secured/system/masters/user-account.xhtml">User Account</a></li>


                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" action="http://webapplayers.com/inspinia_admin-v2.5/search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"/>
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="img/a7.jpg"/>
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br/>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="img/a4.jpg"/>
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br/>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2><ui:insert name="title"></ui:insert></h2>

                    </div>

                </div>
                <div class="wrapper wrapper-content animated fadeInRight">
                    <ui:insert name="body"></ui:insert>
                </div>
                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company &copy; 2014-2015
                    </div>
                </div>
            </div>
        </div>
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <script src="#{application.contextPath}/resources/js/bootstrap.min.js"></script>
        <script src="#{application.contextPath}/resources/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="#{application.contextPath}/resources/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="#{application.contextPath}/resources/js/inspinia.js"></script>
        <script src="#{application.contextPath}/resources/js/plugins/pace/pace.min.js"></script>

        <!-- Steps -->
        <script src="#{application.contextPath}/resources/js/plugins/staps/jquery.steps.min.js"></script>

        <!-- Jquery Validate -->
        <script src="#{application.contextPath}/resources/js/plugins/validate/jquery.validate.min.js"></script>
    </h:body>
</html>

