<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
       <meta charset="utf-8" />
        <title>DVLA</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="#{application.contextPath}/resources/color/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="#{application.contextPath}/resources/color/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <link href="#{application.contextPath}/resources/color/css/animate.min.css" rel="stylesheet" />
        <link href="#{application.contextPath}/resources/color/css/style.min.css" rel="stylesheet" />
        <link href="#{application.contextPath}/resources/color/css/style-responsive.min.css" rel="stylesheet" />
        <!-- ================== BEGIN BASE JS ================== -->
        <link href="../resources/color/css/bwizard.min.css" rel="stylesheet" />
        <!-- ================== END BASE JS ================== -->



        <h:outputScript library="primefaces" name="jquery/jquery.js" />

        <link href="#{application.contextPath}/resources/color/css/dvla.css" rel="stylesheet" />
    </h:head>
    <h:body class="pace-top" style="background: #fff;">


        <!-- begin #page-container -->

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12"> </div>
            <div class="col-lg-4 col-md-4 col-sm-12"> 
                <div id="page-container" class="fade">
                    <!-- begin login -->
                    <div class="login bg-black animated fadeInDown">
                        <!-- begin brand -->
                        <div class="login-header">
                            <div class="brand">
                                <!--<span class="logo">-->
                                <img class="hidden-sm hidden-xs" style="padding-bottom:15px;" height="60" width="60" src="#{application.contextPath}/resources/color/img/dvla.jpg" alt="" />
                                <center class="visible-sm visible-xs"><img style="padding-bottom:15px;" height="90" width="100" src="#{application.contextPath}/resources/color/img/dvla.jpg" alt="" /></center>
                                <!--</span>--> 
                                <span class="hidden-sm hidden-xs"> DVLA</span>
                            </div>
                        </div>
                        <!-- end brand -->
                        <div class="login-content">
                            <p:messages globalOnly="true"/>
                            <form jsf:id="form-name" class="margin-bottom-0">
                                <label class="control-label text-white">Username <span class="text-danger"> * <h:message for="username"/></span></label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <h:inputText class="form-control input-lg" id="username" value="#{loginController.username}"
                                                     required="true" requiredMessage=" required"/>
                                    </div>
                                </div>
                                <label class="control-label text-white">Password <span class="text-danger"> * <h:message for="password"/></span></label>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <h:inputSecret class="form-control input-lg" id="password" value="#{loginController.password}"
                                                       required="true" requiredMessage=" required"/>
                                    </div>
                                </div>
                                <div class="login-buttons">
                                    <h:commandButton style="background: #006633;color: #fff;font-weight:bold;" value="Login" class="btn btn-block btn-lg"
                                                     action="#{loginController.loginButtonAction()}"/>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <center><strong style="color:#006633;">Copyright © 2016 . All rights reserved.</strong></center>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12"> </div>

        </div>



        <script src="#{application.contextPath}/resources/color/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]>
                <script src="#{application.contextPath}/resources/color/crossbrowserjs/html5shiv.js"></script>
                <script src="#{application.contextPath}/resources/color/crossbrowserjs/respond.min.js"></script>
                <script src="#{application.contextPath}/resources/color/crossbrowserjs/excanvas.min.js"></script>
        <![endif]-->
        <script src="#{application.contextPath}/resources/color/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <!-- ================== END BASE JS ================== -->

        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <script src="#{application.contextPath}/resources/color/js/apps.min.js"></script>
        <!-- ================== END PAGE LEVEL JS ================== -->

        <script>
            $(document).ready(function () {
                App.init();
            });
        </script>
    </h:body>
</html>

